In [22]:
import pandas as pd
import os
import shutil
import datetime as dt
import time
import sys

In [24]:
try:
    os.mkdir('Reports/')
except:
    pass

try:
    os.mkdir('Reports/Traités/')
except:
    pass

try:
    nav = pd.read_csv('Reports/NAV_MtD.csv',header= 2,skipfooter=2,engine='python')
    footnav =  pd.read_csv('Reports/NAV_MtD.csv',header= nav.shape[0]+3)
    defo = pd.read_csv('Reports/DefaultPositions.csv')
    porto = pd.read_csv('Reports/Portfolio_MTM.csv')
except:
    os.system('say "Les calculs sont pas bon Kévine. Tu ma pris pour un batard, ou quoi?"')
    sys.exit('Les fichiers ne sont pas tous présents. Arrêt du programme et destruction de la totalité du disque dur')

In [26]:
jour = time.strftime("%A", time.localtime())
today = dt.date.today().strftime('%Y-%m-%d') # str(dt.date.today())[:5]+str(dt.date.today())[5:7]+str(dt.date.today())[7:10]
heure = time.strftime("%H:%M:%S", time.localtime())

In [27]:
if jour == 'Sunday' and heure > '08:00:00' and heure < '23:50:00':
    print('We are ',jour,' ',today,' ',heure)
    yesterday = str(dt.date.today()-dt.timedelta(2))[:5]+str(dt.date.today()-dt.timedelta(2))[5:7]+str(dt.date.today()-dt.timedelta(2))[7:10]
    print('Hier : ', yesterday)

elif jour == 'Monday' and heure > '08:00:00' and heure < '21:50:00':
    print('We are ',jour,' ',today,' ',heure)
    yesterday = str(dt.date.today()-dt.timedelta(3))[:5]+str(dt.date.today()-dt.timedelta(3))[5:7]+str(dt.date.today()-dt.timedelta(3))[7:10]
    print('Hier : ', yesterday)

elif jour == 'Tuesday' and heure > '08:00:00' and heure < '21:50:00':
    print('We are ',jour,' ',today,' ',heure)
    yesterday = str(dt.date.today()-dt.timedelta(1))[:5]+str(dt.date.today()-dt.timedelta(1))[5:7]+str(dt.date.today()-dt.timedelta(1))[7:10]
    print('Hier : ', yesterday)

elif jour == 'Wednesday' and heure > '08:00:00' and heure < '21:50:00':
    print('We are ',jour,' ',today,' ',heure)
    yesterday = str(dt.date.today()-dt.timedelta(1))[:5]+str(dt.date.today()-dt.timedelta(1))[5:7]+str(dt.date.today()-dt.timedelta(1))[7:10]
    print('Hier : ', yesterday)

elif jour == 'Thursday' and heure > '08:00:00' and heure < '21:50:00':
    print('We are ',jour,' ',today,' ',heure)
    yesterday = str(dt.date.today()-dt.timedelta(1))[:5]+str(dt.date.today()-dt.timedelta(1))[5:7]+str(dt.date.today()-dt.timedelta(1))[7:10]
    print('Hier : ', yesterday)

We are  Sunday   2019-12-01   22:41:56
Hier :  2019-11-29

In [28]:
if yesterday == pd.to_datetime(footnav.iloc[-1]['ToDate'],format='%Y%m%d').strftime('%Y-%m-%d'):
    print('Les dates correspondent')
else:
    sys.exit('Problème avec les dates')

Les dates correspondent

In [59]:
os.rename('Reports/NAV_MtD.csv','Reports/'+yesterday+'_NAV_MtD.csv')
os.rename('Reports/DefaultPositions.csv','Reports/'+yesterday+'_DefaultPositions.csv')
os.rename('Reports/Portfolio_MTM.csv','Reports/'+yesterday+'_Portfolio_MTM.csv')
shutil.move('Reports/'+yesterday+'_NAV_MtD.csv','Reports/Traités/'+yesterday+'_NAV_MtD.csv')
shutil.move('Reports/'+yesterday+'_DefaultPositions.csv','Reports/Traités/'+yesterday+'_DefaultPositions.csv')
shutil.move('Reports/'+yesterday+'_Portfolio_MTM.csv','Reports/Traités/'+yesterday+'_Portfolio_MTM.csv')

'Reports/Traités/2019-11-29_Portfolio_MTM.csv'

In [143]:
d_report = pd.DataFrame()

In [144]:
DATE = []
NAV = []
NLONG = []
NSHORT = []
NCLONG = []
NCSHORT = []
NNLONG = []
NNSHORT = []
TEL = []
TES = []
NE = []
init = 0

In [145]:
try:
    d_report = pd.read('d_report.csv')
    DATE = d_report['Date']
    NAV = d_report['Nav']
    NLONG = d_report['# of Long']
    NSHORT = d_report['# of Short']
    NCLONG = d_report['# of Close Long']
    NCSHORT = d_report['# of Close Short']
    NNLONG = d_report['# New Long']
    NNSHORT = d_report['# New Short']
    TEL = d_report['Total Exp. Long']
    TES = d_report['Total Exp. Short']
    NE = d_report['Net Exp.']
    
except:
    init = 1
    DATE.append(yesterday)
    NAV.append(round(footnav.iloc[-1]['StartingValue'],2))
    NLONG.append(defo[defo['Quantity']>0].shape[0])
    NSHORT.append(defo[defo['Quantity']<0].shape[0])
    NCLONG.append(porto[(porto['PreviousCloseQuantity']>0)&(porto['CloseQuantity']==0)].shape[0])
    NCSHORT.append(porto[(porto['PreviousCloseQuantity']<0)&(porto['CloseQuantity']==0)].shape[0])
    NNLONG.append(porto[(porto['PreviousCloseQuantity']==0)&(porto['CloseQuantity']>0)].shape[0])
    NNSHORT.append(porto[(porto['PreviousCloseQuantity']==0)&(porto['CloseQuantity']<0)].shape[0])
    TEL.append(defo[defo['Quantity']>0]['PositionValue'].sum())
    TES.append(defo[defo['Quantity']<0]['PositionValue'].sum())
    NE.append(defo[defo['Quantity']>0]['PositionValue'].sum() + defo[defo['Quantity']<0]['PositionValue'].sum())

In [147]:
DATE.append(yesterday)
NAV.append(round(footnav.iloc[-1]['EndingValue'],2))
NLONG.append(defo[defo['Quantity']>0].shape[0])
NSHORT.append(defo[defo['Quantity']<0].shape[0])
NCLONG.append(porto[(porto['PreviousCloseQuantity']>0)&(porto['CloseQuantity']==0)].shape[0])
NCSHORT.append(porto[(porto['PreviousCloseQuantity']<0)&(porto['CloseQuantity']==0)].shape[0])
NNLONG.append(porto[(porto['PreviousCloseQuantity']==0)&(porto['CloseQuantity']>0)].shape[0])
NNSHORT.append(porto[(porto['PreviousCloseQuantity']==0)&(porto['CloseQuantity']<0)].shape[0])
TEL.append(defo[defo['Quantity']>0]['PositionValue'].sum())
TES.append(defo[defo['Quantity']<0]['PositionValue'].sum())
NE.append(defo[defo['Quantity']>0]['PositionValue'].sum() + defo[defo['Quantity']<0]['PositionValue'].sum())



d_report['Date'] = DATE
d_report['Nav'] = NAV
d_report['# of Long'] = NLONG
d_report['# of Short'] = NSHORT
d_report['# of Close Long'] = NCLONG
d_report['# of Close Short'] = NCSHORT
d_report['# New Long'] = NNLONG
d_report['# New Short'] = NNSHORT
d_report['Total Exp. Long'] = TEL
d_report['Total Exp. Short'] = TES
d_report['Net Exp.'] = NE
d_report['Profit & Loss'] = d_report.iloc[-1]['Nav'] - d_report.iloc[-2]['Nav']
d_report['var Nav%'] = ((d_report.iloc[-1]['Profit & Loss'] - d_report.iloc[-2]['Profit & Loss'])/d_report.iloc[-2]['Profit & Loss']) * 100
d_report['cumul Nav%'] = ((1 + d_report.iloc[-2]['cumul Nav%']) * (1 + d_report.iloc[-1]['var Nav%'])) - 1

if init == 1:
    d_report = d_report.iloc[1:,:]
    d_report = d_report.reindex()

ValueError: Length of values does not match length of index

In [142]:
d_report

,Date,Nav,# of Long,# of Short,# of Close Long,# of Close Short,# New Long,# New Short,Total Exp. Long,Total Exp. Short,Net Exp.,Profit & Loss,var Nav%,cumul Nav%
1,2019-11-29,528090.74,21,26,1,1,5,12,340067.62,-388109.36,-48041.74,23258.35,0.0,0.0

In [57]:
footnav

,ClientAccountID,FromDate,ToDate,StartingValue,Mtm,Realized,DepositsWithdrawals,EndingValue
0,DU1507426,20191101,20191129,504832.390233,23898.25,0,0,528090.740435

In [58]:
TEST = [1,2,3,4,5,6,7,8,9]

In [71]:
d_report

,Date,Nav,# of Long,# of Short,# of Close Long,# of Close Short,# New Long,# New Short,Total Exp. Long,Total Exp. Short,Net Exp.
0,2019-11-29,528090.740435,21,26,1,1,5,12,340067.62,-388109.36,-48041.74