In [3]:
import pandas as pd
df = pd.read_csv('25_OrdresPasses_12_11_2019_16_40_53.csv')
df1 = pd.read_csv('25_OrdresPasses_13_11_2019_10_28_06.csv')
df2 = pd.read_csv('25_OrdresPasses_14_11_2019_11_32_29.csv')
df3 = pd.read_csv('25_OrdresPasses_15_11_2019_10_55_34.csv')
df = pd.concat((df,df1,df2,df3))
df = df.drop(['Unnamed: 0'],axis=1)
df.head()

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price,Open.S Price,Tradé,Action,Quand,Prix limite
0,2019-11-11,LHX,0,0,0,0,195.160004,Traité,NaN,NaN,NaN,NaN
1,2019-11-11,CMI,0,0,0,0,186.440002,NaN,NaN,NaN,NaN,NaN
2,2019-11-11,EW,0,0,0,0,234.699997,NaN,NaN,NaN,NaN,NaN
3,2019-11-11,GE,0,0,0,0,11.350000,NaN,NaN,NaN,NaN,NaN
4,2019-11-11,COF,0,0,0,0,97.010002,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(1332, 12)

In [5]:
len(df['Ticker'].unique())

333

In [6]:
len(df.drop_duplicates())

1332

In [7]:
df['Open Long'].sum()

38

In [8]:
df['Open Short'].sum()

35

In [9]:
df['Close Long'].sum()

42

In [10]:
df['Close Short'].sum()

51

In [14]:
len(df.dropna())

0