In [1]:
# TRANSFORM INDEX

In [1]:
import pandas as pd
import os
path_abs='/Users/YTsBaCh/Documents/DATA SCIENCES/20190411 FOREX TREND/'
#path_rel = os.path.dirname(os.path.abspath(__file__))
# SCRAPING DES DONNES BRUTES
audusd = pd.read_csv(filepath_or_buffer = path_abs+'AUDUSD_raw.csv')
eurusd = pd.read_csv(filepath_or_buffer = path_abs+'EURUSD_raw.csv')
gbpusd = pd.read_csv(filepath_or_buffer = path_abs+'GBPUSD_raw.csv')
nzdusd = pd.read_csv(filepath_or_buffer = path_abs+'NZDUSD_raw.csv')
usdcad = pd.read_csv(filepath_or_buffer = path_abs+'USDCAD_raw.csv')
usdchf = pd.read_csv(filepath_or_buffer = path_abs+'USDCHF_raw.csv')
usdjpy = pd.read_csv(filepath_or_buffer = path_abs+'USDJPY_raw.csv')

In [2]:
usdchf = usdchf.iloc[:1123140,:]

In [3]:
from dateutil import parser
import time
from datetime import date,datetime

list_index=[]
for dd in range(len(audusd['Local time'])):
    original_date = parser.parse(audusd['Local time'][dd])
    required_date = original_date.strftime("%Y-%m-%d %H:%M:%S")
    list_index.append(required_date)

In [6]:
audusd['Local time'] = list_index
audusd = audusd.set_index('Local time')

In [7]:
eurusd['Local time'] = list_index
eurusd = eurusd.set_index('Local time')

In [8]:
gbpusd['Local time'] = list_index
gbpusd = gbpusd.set_index('Local time')

In [9]:
nzdusd['Local time'] = list_index
nzdusd = nzdusd.set_index('Local time')

In [10]:
usdcad['Local time'] = list_index
usdcad = usdcad.set_index('Local time')

In [11]:
usdchf['Local time'] = list_index
usdchf = usdchf.set_index('Local time')

In [12]:
usdjpy['Local time'] = list_index
usdjpy = usdjpy.set_index('Local time')

In [13]:
audusd.head(1)

                        Open     High      Low    Close  Volume
Local time
2016-11-04 00:00:00  0.75465  0.75501  0.75463  0.75498   29.19

In [14]:
original_list = ['Open','High','Low','Close','Volume']
ticker_list = ['audusd','eurusd','gbpusd','nzdusd','usdcad','usdchf','usdjpy']
final_list = []
for ticker in ticker_list:
    for col in original_list:
        final_list.append(ticker+'_'+col)

In [15]:
audusd.columns.values[0:5] = final_list[0:5]

In [16]:
eurusd.columns.values[0:5] = final_list[5:10]

In [17]:
gbpusd.columns.values[0:5] = final_list[10:15]

In [18]:
nzdusd.columns.values[0:5] = final_list[15:20]

In [19]:
usdcad.columns.values[0:5] = final_list[20:25]

In [20]:
usdchf.columns.values[0:5] = final_list[25:30]

In [21]:
usdjpy.columns.values[0:5] = final_list[30:35]

In [22]:
audusd.to_csv('AUDUSD.csv')
eurusd.to_csv('EURUSD.csv')
gbpusd.to_csv('GBPUSD.csv')
nzdusd.to_csv('NZDUSD.csv')
usdcad.to_csv('USDCAD.csv')
usdchf.to_csv('USDCHF.csv')
usdjpy.to_csv('USDJPY.csv')

In [23]:
usdjpy.head()

,usdjpy_Open,usdjpy_High,usdjpy_Low,usdjpy_Close,usdjpy_Volume
Local time,,,,,
2016-11-04 00:00:00,108.084,108.121,108.073,108.118,92.08
2016-11-04 00:01:00,108.116,108.116,108.093,108.106,47.29
2016-11-04 00:02:00,108.106,108.121,108.098,108.107,85.62
2016-11-04 00:03:00,108.107,108.120,108.104,108.106,48.37
2016-11-04 00:04:00,108.107,108.110,108.083,108.084,59.22