In [356]:
___Author___='LumberJack Jyss'

In [357]:
print('LumberJack Trading AtidotCom PREPARATION\nLumberJack Jyss (c)')

LumberJack Trading AtidotCom PREPARATION
LumberJack Jyss (c)

In [358]:
print('Importation des librairies...')
import numpy as np
import pandas as pd
print('Librairies importées')

Importation des librairies...
Librairies importées

In [359]:
# SCRAPING DES DONNES BRUTES
audusd = pd.read_csv('AUDUSD.csv')
audusd = audusd.set_index('Local time')
eurusd = pd.read_csv('EURUSD.csv')
eurusd = eurusd.set_index('Local time')
gbpusd = pd.read_csv('GBPUSD.csv')
gbpusd = gbpusd.set_index('Local time')
nzdusd = pd.read_csv('NZDUSD.csv')
nzdusd = nzdusd.set_index('Local time')
usdcad = pd.read_csv('USDCAD.csv')
usdcad = usdcad.set_index('Local time')
usdchf = pd.read_csv('USDCHF.csv')
usdchf = usdchf.set_index('Local time')
usdjpy = pd.read_csv('USDJPY.csv')
usdjpy = usdjpy.set_index('Local time')

In [ ]:
def Resample30(df):
    min_candle = (0,0)
    max_candle = (0,0)
    open_candle = (0,0)
    close_candle = (0,0)
    time_is_money = []
    candle = []
    
    for i in range(0,30):
        if 
        open_candle =

In [360]:
labasequoi = pd.DataFrame(index = audusd.index)
labasequoi = pd.concat((audusd,usdjpy,gbpusd,nzdusd,usdcad,usdchf,eurusd),axis=1)

In [361]:
balise = labasequoi.shape[0]-10000

In [362]:
simanim = labasequoi.iloc[balise:,:]

In [363]:
simanim['return_1'] = np.nan
simanim['return_2'] = np.nan
simanim['return_3'] = np.nan
simanim['return_4'] = np.nan
simanim['return_5'] = np.nan

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [364]:
simanim.head(1)

,audusd_Open,audusd_High,audusd_Low,audusd_Close,audusd_Volume,usdjpy_Open,usdjpy_High,usdjpy_Low,usdjpy_Close,usdjpy_Volume,...,eurusd_Open,eurusd_High,eurusd_Low,eurusd_Close,eurusd_Volume,return_1,return_2,return_3,return_4,return_5
Local time,,,,,,,,,,,,,,,,,,,,,
2019-03-27 23:20:00,0.70917,0.70917,0.70901,0.70902,42.1,110.504,110.504,110.493,110.499,65.5,...,1.12517,1.12517,1.12511,1.12511,76.01,NaN,NaN,NaN,NaN,NaN

In [365]:
simanim.iloc[0,33] # => 33 est bien le close

1.1251100000000001

In [366]:
# On va établir sur je jpy nos return.
# Return du jour J = (Close de la veille - Close du jour)/Close ddu jour
# Le return du nième jour = (Close du jour n - Close du jour)/Close du jour

pnl_1 = []
pnl_2 = []
pnl_3 = []
pnl_4 = []
pnl_5 = []



for i in range(6,simanim.shape[0]):
    
    jour_0 = simanim.iloc[i-1,33]
    jour_1 = simanim.iloc[i-2,33]
    jour_2 = simanim.iloc[i-3,33]
    jour_3 = simanim.iloc[i-4,33]
    jour_4 = simanim.iloc[i-5,33]
    jour_5 = simanim.iloc[i-6,33]
    
    pnl_1.append(jour_1-jour_0)
    pnl_2.append(jour_2-jour_0)
    pnl_3.append(jour_3-jour_0)
    pnl_4.append(jour_4-jour_0)
    pnl_5.append(jour_5-jour_0)

In [368]:
    
simanim.loc[6:,'return_1'] = pnl_1
simanim.loc[6:,'return_2'] = pnl_2
simanim.loc[6:,'return_3'] = pnl_3
simanim.loc[6:,'return_4'] = pnl_4
simanim.loc[6:,'return_5'] = pnl_5

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [369]:
simanim = simanim.dropna()

In [376]:
simanim.shape

(9994, 41)

In [377]:
simanim.head()

,audusd_Open,audusd_High,audusd_Low,audusd_Close,audusd_Volume,usdjpy_Open,usdjpy_High,usdjpy_Low,usdjpy_Close,usdjpy_Volume,...,eurusd_High,eurusd_Low,eurusd_Close,eurusd_Volume,return_1,return_2,return_3,return_4,return_5,trend
Local time,,,,,,,,,,,,,,,,,,,,,
2019-03-27 23:26:00,0.70904,0.70904,0.70904,0.70904,3.90,110.484,110.501,110.480,110.500,51.18,...,1.12511,1.12507,1.12510,54.50,0.000000,-0.004444,-0.004444,-0.005333,0.002666,NaN
2019-03-27 23:27:00,0.70904,0.70904,0.70882,0.70883,53.34,110.497,110.497,110.466,110.468,91.26,...,1.12512,1.12509,1.12511,47.81,-0.001778,-0.001778,-0.006222,-0.006222,-0.007110,NaN
2019-03-27 23:28:00,0.70885,0.70885,0.70874,0.70883,35.73,110.469,110.469,110.455,110.457,79.43,...,1.12515,1.12511,1.12513,132.43,-0.000889,-0.002666,-0.002666,-0.007110,-0.007110,NaN
2019-03-27 23:29:00,0.70883,0.70883,0.70865,0.70877,41.47,110.457,110.478,110.456,110.469,60.94,...,1.12514,1.12510,1.12511,84.85,-0.001778,-0.002666,-0.004444,-0.004444,-0.008888,NaN
2019-03-27 23:30:00,0.70880,0.70888,0.70864,0.70866,40.08,110.467,110.469,110.454,110.454,33.25,...,1.12516,1.12512,1.12513,102.78,0.001778,0.000000,-0.000889,-0.002666,-0.002666,NaN

In [371]:
trend = []
max_dronedraoune = []
simanim.shape

(9994, 40)

In [372]:
for j in range(6,simanim.shape[0]):
    if simanim.iloc[j,35] > .0008 and\
    simanim.iloc[j,36] > .0008 and\
    simanim.iloc[j,37] > .0008 and\
    simanim.iloc[j,38] > .0008 and\
    simanim.iloc[j,39] > .008 :
        trend.append(1)
    else :
        trend.append(0)

In [373]:
simanim.loc[6:,'trend'] = trend

In [374]:
simanim['trend'].sum()

1455.0

In [375]:
simanim.to_csv('simanim.csv')