In [1]:
def clearall():
    all = [var for var in globals() if var[0] != "_"]
    for var in all:
        del globals()[var]
clearall()

In [2]:
import pandas as pd
import os
import shutil
import smtplib
import mimetypes
from email.message import EmailMessage
from bs4 import BeautifulSoup
import time
from colorama import Fore, Back, Style

In [3]:
___Author___='LumberJack Jyss'
print('Global Optimized LumberJack Environment Motor 55\nLumberJack Jyss 5780(c)')
print(Fore.BLUE,'°0Oo_D.A.G._26_oO0°')
print(Fore.YELLOW,Back.BLUE,'CHOUPINET TABAC v0.55',Style.RESET_ALL)

print('')

Global Optimized LumberJack Environment Motor 55
LumberJack Jyss 5780(c)
 °0Oo_D.A.G._26_oO0°
  CHOUPINET TABAC v0.55

In [10]:
df = pd.read_csv('tabac_53.csv')

In [11]:
df

                         Nom                    Adresse       Téléphone
0                 La Civette  53 Rue Du General De Gaul  02 43 66 13 56
1          Robinet Françoise        12 Ter place Eglise  02 43 37 33 94
2            Guellier Michel      50 rue Victor Boissel  02 43 53 27 77
3                   Guillard   27 Rue Maurice Courcelle  09 62 08 62 97
4                 Le Fluvial         13 Quai Waiblingen  02 43 04 15 02
..                       ...                        ...             ...
94             Quenot Michel     20 place Gén de Gaulle  02 33 27 84 67
95                    Aubril        22 rue Constitution  02 33 58 45 69
96          Le Saint Gaudens           4 Rue St Gaudens  02 33 58 05 88
97                    Lescot             4 Place Littré  02 33 58 27 61
98  Hôtel Restaurant Alentel       3 Rue de la Pyramide  02 33 29 15 97

[99 rows x 3 columns]

In [18]:
base = pd.read_csv('base.csv')

In [82]:
for i,j in enumerate (sorted(base['CODE POSTAL'])):
    if (j[:2]) == '53':
        print(j,' ',base.iloc[i]['COMMUNE'])

5300   CHATEAUROUX
5300   CHATEAUROUX
5300   CHATEAUROUX
5300   CHAILLAC
5310   LIGNAC
5320   SAINT-BENOIT-DU-SAULT
5330   SAINT-BENOIT-DU-SAULT
5350   EGUZON-CHANTOME
5350   TILLY
5350   AMBRAULT

In [30]:
base = base.iloc[:9360,:]

In [31]:
VILLE = []
CP = []

In [83]:
df.to_csv('Tabac_du_53.csv')