In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import time
import random
import datetime as dt
import sys
import string
import colorama as col

In [2]:
df1 = pd.read_excel('Jurys_ZN_2020.xlt')
df1.head()

  N° Jury             Jury1   Club                    Jury2      Club.1
0   Jury1    DE BAERE Teddy   CFKM  ROGUES DE FURSAC Arnaud        ECKM
1   Jury2  SCHUSTER Cyrille  KMC92           ALLOUCHE David         KMM
2   Jury3    HASSINE Gilles   ASKM              HUVET Jimmy  KM MINDSET
3   Jury4          ATIA Léo  KMUD           OLIVEIRA Cédric      AKMC91
4   Jury5  COHEN Jean-David  KmnCo           DAL PONT Marco        KM14

In [5]:
%%time
GENE = []
BASE = list(sorted(set(df1.Club.to_list()+df1['Club.1'].to_list())))
df1['Gene1'] = 999
df1['Gene2'] = 999
for j in range(len(df1)):
    for i,gene in enumerate(BASE):
        if df1.Club[j] == gene :
            df1.Gene1[j] = i
        if df1['Club.1'][j] == gene:
            df1.Gene2[j] = i

df1.head()

CPU times: user 73.1 ms, sys: 2.2 ms, total: 75.3 ms
Wall time: 73.9 ms

,N° Jury,Jury1,Club,Jury2,Club.1,Gene1,Gene2
0,Jury1,DE BAERE Teddy,CFKM,ROGUES DE FURSAC Arnaud,ECKM,10,12
1,Jury2,SCHUSTER Cyrille,KMC92,ALLOUCHE David,KMM,37,39
2,Jury3,HASSINE Gilles,ASKM,HUVET Jimmy,KM MINDSET,8,26
3,Jury4,ATIA Léo,KMUD,OLIVEIRA Cédric,AKMC91,46,4
4,Jury5,COHEN Jean-David,KmnCo,DAL PONT Marco,KM14,47,30

In [6]:
df2 = pd.read_excel('ZNord_180420.xls')
df2.head()

,Civilité,Nom,Prénom,Email,Téléphone,Date naissance,Date examen,age,>=40,Club,Darga,Poids,UV,Table Jury
0,M.,ABDELMALEK,Abdelhafid,abdelmalek.hafid@gmail.com,06.75.49.88.98,1970-08-11 00:00:00,2021-01-30,50,1.0,DSA,Exam. 1d,85,NaN,Jury21
1,M.,ABENZA,Laurent,laurent.abenza@gmail.com,06.20.86.56.58,1971-09-30 00:00:00,2021-01-30,49,1.0,KM LYON,Exam. 1d,72,"2,3,5,6",Jury 20
2,M.,ALBAREDE,Cédric,nickylarson2712@hotmail.fr,06.60.07.54.06,1981-10-25 00:00:00,2021-01-30,39,NaN,ENKM,Exam. 1d,110,NaN,Jury8
3,Mme,ALENGRIN,Clémence,clemence.alengrin@gmail.com,06.73.34.18.67,1988-10-31 00:00:00,2021-01-30,32,NaN,KM75,Exam. 1d,60,NaN,Jury16
4,M.,AMELIN,Frédéric,frederic.amelin@gmail.com,06.34.41.58.23,1980-06-27 00:00:00,2021-01-30,40,1.0,KMC92,Exam. 3D,68,NaN,Jury3

In [7]:
PASSAGE1=[]
PASSAGE2=[]
PASSAGE3=[]
PASSAGE4=[]
TABLE_D1 = list(sorted(set(df2[df2.Darga == 'Exam. 1d']['Table Jury'].to_list())))
#TABLE_D1.remove(['JUry22'])
#TABLE_D1.remove(['Jury 20'])
#TABLE_D1.remove(['Jury 31'])
TABLE_D2 = list(sorted(set(df2[df2.Darga == 'Exam. 2d']['Table Jury'].to_list())))
TABLE_D3 = list(sorted(set(df2[df2.Darga == 'Exam. 3D']['Table Jury'].to_list())))
TABLE_D4 = list(sorted(set(df2[df2.Darga == 'Exam. 4D']['Table Jury'].to_list())))
for i in df1['N° Jury']:
    if i in TABLE_D1:
        PASSAGE1.append(1)
        
    else:
        PASSAGE1.append(0)

    if i in TABLE_D2:
        PASSAGE2.append(1)
        
    else:
        PASSAGE2.append(0)
    
    if i in TABLE_D3:
        PASSAGE3.append(1)
        
    else:
        PASSAGE3.append(0)
    
    if i in TABLE_D4:
        PASSAGE4.append(1)
    
    else:    
        PASSAGE4.append(0)
df1['PASSAGE1'] = PASSAGE1
df1['PASSAGE2'] = PASSAGE2
df1['PASSAGE3'] = PASSAGE3
df1['PASSAGE4'] = PASSAGE4
TABLE_D1.remove('JUry22')
TABLE_D1.remove('Jury 20')
TABLE_D1.remove('Jury 31')

In [8]:
df1.head()

,N° Jury,Jury1,Club,Jury2,Club.1,Gene1,Gene2,PASSAGE1,PASSAGE2,PASSAGE3,PASSAGE4
0,Jury1,DE BAERE Teddy,CFKM,ROGUES DE FURSAC Arnaud,ECKM,10,12,0,0,1,1
1,Jury2,SCHUSTER Cyrille,KMC92,ALLOUCHE David,KMM,37,39,0,0,1,1
2,Jury3,HASSINE Gilles,ASKM,HUVET Jimmy,KM MINDSET,8,26,0,1,1,0
3,Jury4,ATIA Léo,KMUD,OLIVEIRA Cédric,AKMC91,46,4,0,1,1,0
4,Jury5,COHEN Jean-David,KmnCo,DAL PONT Marco,KM14,47,30,0,1,1,0

In [9]:
df2.Poids.min(),df2.Poids.max()

(46, 110)

In [10]:
%%time
candidats = df2.copy()
DARGA = []
candidats['Civilité'] = [1 if candidats.Civilité[i] == 'M.' else 0 for i in range(len(candidats))]
candidats['age'] = [1 if candidats.age[i] >= 40 else 0 for i in range(len(candidats))]
for i in range(len(candidats)):
    if candidats.Darga[i] == 'Exam. 1d':
        DARGA.append(1)
    elif candidats.Darga[i] == 'Exam. 2d':
        DARGA.append(2)
    elif candidats.Darga[i] == 'Exam. 3D':
        DARGA.append(3)
    elif candidats.Darga[i] == 'Exam. 4D':
        DARGA.append(4)
candidats.Darga = DARGA
candidats = candidats.drop(['Nom', 'Prénom', 'Email', 'Téléphone','Date naissance','Date examen','>=40','UV', 'Table Jury'],axis=1)
bins = [ 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 111 ]
labels =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
candidats['id'] = candidats.index
candidats['binned'] = pd.cut(candidats.Poids, bins,labels=labels)
CAT = ['44, 48','48, 52','52, 56','56, 60','60, 64','64, 68','68, 72','72, 76','76, 80','80, 84','84, 88','88, 92','92, 96','96, 100','100, 104','104, 111']
candidats.head()

CPU times: user 33.9 ms, sys: 2.67 ms, total: 36.6 ms
Wall time: 37.6 ms

   Civilité  age     Club  Darga  Poids  id binned
0         1    1      DSA      1     85   0     11
1         1    1  KM LYON      1     72   1      7
2         1    0     ENKM      1    110   2     16
3         0    0     KM75      1     60   3      4
4         1    1    KMC92      3     68   4      6

In [11]:
%%time
##### DARGA 1
print('\n\nDarga 1 -- Nombre de candidats :', candidats[candidats.Darga==1].shape[0])
groupeH401D = candidats[(candidats.Civilité==1)&(candidats.age==1)&(candidats.Darga==1)]
print('Hommes de plus de 40 ans :', groupeH401D.shape[0])

groupeH391D = candidats[(candidats.Civilité==1)&(candidats.age==0)&(candidats.Darga==1)]
print('Hommes de moins de 40 ans :', groupeH391D.shape[0])

groupeF401D = candidats[(candidats.Civilité==0)&(candidats.age==1)&(candidats.Darga==1)]
print('Femmes de plus de 40 ans :', groupeF401D.shape[0])

groupeF391D = candidats[(candidats.Civilité==0)&(candidats.age==0)&(candidats.Darga==1)]
print('Femmes de moins de 40 ans :', groupeF391D.shape[0])


##### DARGA 2
print('\n\nDarga 2 -- Nombre de candidats :', candidats[candidats.Darga==2].shape[0])
groupeH402D = candidats[(candidats.Civilité==1)&(candidats.age==1)&(candidats.Darga==2)]
print('Hommes de plus de 40 ans :', groupeH402D.shape[0])

groupeH392D = candidats[(candidats.Civilité==1)&(candidats.age==0)&(candidats.Darga==2)]
print('Hommes de moins de 40 ans :', groupeH392D.shape[0])

groupeF402D = candidats[(candidats.Civilité==0)&(candidats.age==1)&(candidats.Darga==2)]
print('Femmes de plus de 40 ans :', groupeF402D.shape[0])

groupeF392D = candidats[(candidats.Civilité==0)&(candidats.age==0)&(candidats.Darga==2)]
print('Femmes de moins de 40 ans :', groupeF392D.shape[0])

##### DARGA 3
print('\n\nDarga 3 -- Nombre de candidats :', candidats[candidats.Darga==3].shape[0])
groupeH403D = candidats[(candidats.Civilité==1)&(candidats.age==1)&(candidats.Darga==3)]
print('Hommes de plus de 40 ans :', groupeH403D.shape[0])

groupeH393D = candidats[(candidats.Civilité==1)&(candidats.age==0)&(candidats.Darga==3)]
print('Hommes de moins de 40 ans :', groupeH393D.shape[0])

groupeF403D = candidats[(candidats.Civilité==0)&(candidats.age==1)&(candidats.Darga==3)]
print('Femmes de plus de 40 ans :', groupeF403D.shape[0])

groupeF393D = candidats[(candidats.Civilité==0)&(candidats.age==0)&(candidats.Darga==3)]
print('Femmes de moins de 40 ans :', groupeF393D.shape[0])

##### DARGA 4
print('\n\nDarga 4 -- Nombre de candidats :', candidats[candidats.Darga==4].shape[0])
groupeH404D = candidats[(candidats.Civilité==1)&(candidats.age==1)&(candidats.Darga==4)]
print('Hommes de plus de 40 ans :', groupeH404D.shape[0])

groupeH394D = candidats[(candidats.Civilité==1)&(candidats.age==0)&(candidats.Darga==4)]
print('Hommes de moins de 40 ans :', groupeH394D.shape[0])

groupeF404D = candidats[(candidats.Civilité==0)&(candidats.age==1)&(candidats.Darga==4)]
print('Femmes de plus de 40 ans :', groupeF404D.shape[0])

groupeF394D = candidats[(candidats.Civilité==0)&(candidats.age==0)&(candidats.Darga==4)]
print('Femmes de moins de 40 ans :', groupeF394D.shape[0])

Darga 1 -- Nombre de candidats : 209
Hommes de plus de 40 ans : 134
Hommes de moins de 40 ans : 56
Femmes de plus de 40 ans : 7
Femmes de moins de 40 ans : 12


Darga 2 -- Nombre de candidats : 69
Hommes de plus de 40 ans : 50
Hommes de moins de 40 ans : 16
Femmes de plus de 40 ans : 1
Femmes de moins de 40 ans : 2


Darga 3 -- Nombre de candidats : 23
Hommes de plus de 40 ans : 16
Hommes de moins de 40 ans : 6
Femmes de plus de 40 ans : 1
Femmes de moins de 40 ans : 0


Darga 4 -- Nombre de candidats : 7
Hommes de plus de 40 ans : 5
Hommes de moins de 40 ans : 1
Femmes de plus de 40 ans : 1
Femmes de moins de 40 ans : 0
CPU times: user 34.9 ms, sys: 5.26 ms, total: 40.1 ms
Wall time: 36.5 ms

In [12]:
%%time
# DARGA 1
print('Pour la première darga:')
for bin in labels:
    globals()['groupeH401D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH401D_bin%s' %bin] = groupeH401D[groupeH401D.binned==bin]
    if len(globals()['groupeH401D_bin%s' %bin]) > 0:
        print()
        print('Homme de plus de 40 ans catégorie de poids ['+CAT[bin-1]+'] Kg')
        for x in globals()['groupeH401D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeH391D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH391D_bin%s' %bin] = groupeH391D[groupeH391D.binned==bin]
    if len(globals()['groupeH391D_bin%s' %bin]) > 0:
        print()
        print('Homme de moins de 40 ans catégorie de poids ['+CAT[bin-1]+'] Kg')
        for x in globals()['groupeH391D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF401D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF401D_bin%s' %bin] = groupeF401D[groupeF401D.binned==bin]
    if len(globals()['groupeF401D_bin%s' %bin]) > 0:
        print()
        print('Femme de plus de 40 ans catégorie de poids ['+CAT[bin-1]+'] Kg')
        for x in globals()['groupeF401D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF391D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF391D_bin%s' %bin] = groupeF391D[groupeF391D.binned==bin]
    if len(globals()['groupeF391D_bin%s' %bin]) > 0:
        print()
        print('Femme de moins de 40 ans catégorie de poids ['+CAT[bin-1]+'] Kg')
        for x in globals()['groupeF391D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

Pour la première darga:

Femme de moins de 40 ans catégorie de poids [44, 48] Kg
CLEMENT NOEMIE        (Index =  58 )

Femme de plus de 40 ans catégorie de poids [48, 52] Kg
PEREZ Sylvie        (Index =  230 )

Femme de moins de 40 ans catégorie de poids [48, 52] Kg
BOIRAT Stephanie        (Index =  23 )
LOUIS Mélanie        (Index =  188 )

Femme de plus de 40 ans catégorie de poids [52, 56] Kg
DE LA HORIE Nathalie        (Index =  76 )
LE MOAL Rebecca        (Index =  165 )
RIVIERE Esther        (Index =  256 )

Femme de moins de 40 ans catégorie de poids [52, 56] Kg
BOURQUIN Helene        (Index =  34 )
DOUDOUX Laurianne        (Index =  86 )

Homme de plus de 40 ans catégorie de poids [56, 60] Kg
FERRY Jean-Louis        (Index =  105 )
MEIMOUN Patrick        (Index =  202 )

Femme de plus de 40 ans catégorie de poids [56, 60] Kg
DOS SANTOS Amarize        (Index =  84 )
THOMINE DESMAZURES Astrid        (Index =  288 )

Femme de moins de 40 ans catégorie de poids [56, 60] Kg
ALENGRIN Clémence        (Index =  3 )
COTTREL Mélissa         (Index =  61 )

Homme de plus de 40 ans catégorie de poids [60, 64] Kg
ANDRÉ Patrice        (Index =  6 )
SCOPIN Yves        (Index =  270 )

Homme de moins de 40 ans catégorie de poids [60, 64] Kg
BECHAMP Mickaël, Loïc        (Index =  14 )
FEDERKEIL Yan        (Index =  100 )
TEISSIER Gaspard        (Index =  282 )

Femme de plus de 40 ans catégorie de poids [60, 64] Kg
SALMIER Sandrine        (Index =  264 )

Femme de moins de 40 ans catégorie de poids [60, 64] Kg
CANELLAS Jessica        (Index =  45 )
CASAURANG-LASSALLETTE Audrey        (Index =  48 )
PATERNOSTER Louise        (Index =  229 )

Homme de plus de 40 ans catégorie de poids [64, 68] Kg
BRION Hervé        (Index =  38 )
CACCIAMANI Sébastien         (Index =  44 )
DE OLIVEIRA Albert        (Index =  77 )
DURRIEU Mickael        (Index =  92 )
FILAIRE Guillaume        (Index =  109 )
FRIMBAUD PIERRE        (Index =  115 )
HACHEM Nordin        (Index =  136 )
HEURTIN Fabrice        (Index =  145 )
PERON JEAN-LOUIS        (Index =  232 )
SIAM DAVID        (Index =  273 )

Homme de moins de 40 ans catégorie de poids [64, 68] Kg
LE MInh Pierre        (Index =  161 )
LEAL Thomas        (Index =  167 )

Femme de moins de 40 ans catégorie de poids [64, 68] Kg
BONVARD  Julie         (Index =  25 )
PETIOT AURÉLIE        (Index =  234 )

Homme de plus de 40 ans catégorie de poids [68, 72] Kg
ABENZA Laurent        (Index =  1 )
BOUCHENOT FRANCK        (Index =  28 )
BOURDIN Jerome        (Index =  33 )
DARMON Denis        (Index =  72 )
FARIAD Morad        (Index =  99 )
GABILLET Alexandre        (Index =  118 )
LAILE Stéphane        (Index =  157 )
LAUFER Franck        (Index =  158 )
MIENANZAMBI FABRICE        (Index =  208 )
MONGIS DAVID        (Index =  210 )
NOCARA Stéphane        (Index =  220 )
RAMOS Christophe        (Index =  246 )
ROBIN FREDERIC        (Index =  257 )
URBAN Bruno        (Index =  296 )

Homme de moins de 40 ans catégorie de poids [68, 72] Kg
DARMON Kévin        (Index =  73 )
EUSTACHE Ludovic        (Index =  97 )
FARGES Olivier        (Index =  98 )
GAONAC'H- ALTALAWY Alexandre        (Index =  120 )
MASSABIEAUX Adrien        (Index =  198 )
RUH Cédric         (Index =  262 )
THIERY Thomas        (Index =  285 )

Homme de plus de 40 ans catégorie de poids [72, 76] Kg
BOTERF YANNICK        (Index =  27 )
BOYER Alain        (Index =  37 )
CASTELLER  Arnaud        (Index =  50 )
CHAMBENOIT Frederic        (Index =  52 )
CLAVERIE LAURENT        (Index =  56 )
CLEMENT Guillaume        (Index =  57 )
COUE Tanguy        (Index =  62 )
DACHET Vincent        (Index =  67 )
DURFORT FREDERIC.        (Index =  91 )
FERNANDES Paul        (Index =  102 )
FEUILLATRE Franck        (Index =  108 )
GAUSSENS Rémy        (Index =  122 )
HENIN Luc        (Index =  143 )
LE VERGER Richard        (Index =  166 )
LEFORT Fritz        (Index =  171 )
LOGER Lionel        (Index =  182 )
MARTIN Jerome        (Index =  196 )
MESNAGE Gregory        (Index =  207 )
PERQUIN-GEORGES Sébastien        (Index =  233 )
PETIT Michael        (Index =  236 )
PONS Philippe        (Index =  239 )
SEERPUTTEE Viveck        (Index =  271 )
TEUTSCH JACKY        (Index =  283 )
THOCQUENNE Clotaire        (Index =  286 )
THOMAS Laurent        (Index =  287 )
THOUVENOT Jérôme        (Index =  290 )

Homme de moins de 40 ans catégorie de poids [72, 76] Kg
BOUKHOBZA Boris        (Index =  29 )
CANGO FRANCK        (Index =  46 )
DOUDOUX Vivien        (Index =  85 )
DUNOYER AURELIEN        (Index =  90 )
FEDIDA Willfried        (Index =  101 )
LEFRANCOIS Matthieu        (Index =  172 )
LOISEAU Florian        (Index =  183 )
MEPHARA Aurelien        (Index =  205 )
NOZAY Dominique         (Index =  221 )
PETIT Cédric        (Index =  235 )
REAL Benjamin        (Index =  248 )
RINALDI Romain        (Index =  255 )
SPINGARN Raphaël        (Index =  278 )

Homme de plus de 40 ans catégorie de poids [76, 80] Kg
ANTABLIAN Thierry        (Index =  8 )
BOULARD YANNICK        (Index =  31 )
BOUVARD Olivier        (Index =  35 )
BRISON Patrice        (Index =  39 )
BRUNA  Jean-Yves         (Index =  40 )
BURGUET Grégory        (Index =  43 )
CHARRIAU Patrick        (Index =  53 )
COUTAZ Raphael        (Index =  63 )
DARDOT JEAN CLAUDE        (Index =  71 )
DE BIEVRE HUGUES        (Index =  75 )
DEMELT Nicolas        (Index =  80 )
DUSKUNKORUR Semih        (Index =  93 )
EBRARD Frederic        (Index =  94 )
FERON Thomas        (Index =  103 )
FORTIER Olivier        (Index =  111 )
FORTIN David        (Index =  112 )
HABERT Frederic        (Index =  135 )
HAZE Pascal        (Index =  140 )
HELMLINGER Franck        (Index =  142 )
JAHANDIER PASCAL        (Index =  151 )
LAVAL Christian        (Index =  159 )
MERKEL CYRIL        (Index =  206 )
MONDOLONI Dominique        (Index =  209 )
MOUMIN Mohammed        (Index =  214 )
PABOT Sébastien         (Index =  225 )
POTARD Julien        (Index =  241 )
PRODHON Lionel        (Index =  244 )
ROUSSEL Jean-Charles        (Index =  260 )
TARDY NICOLAS        (Index =  280 )
TEYSSANDIER David        (Index =  284 )
VERDIE Eric        (Index =  299 )

Homme de moins de 40 ans catégorie de poids [76, 80] Kg
BURGALETA Romain        (Index =  42 )
DEPOORTER Christophe        (Index =  81 )
GÉRÈME  Loïc        (Index =  124 )
HOSOTTE Nicolas        (Index =  146 )
LUC Benoit        (Index =  189 )
PIERRE Aurélien        (Index =  237 )
SAINT-EVE Vincent        (Index =  263 )

Homme de plus de 40 ans catégorie de poids [80, 84] Kg
BAQUE OLIVIER        (Index =  12 )
BLANCHONNET Christian        (Index =  22 )
BOULINGUIEZ Thomas        (Index =  32 )
BOYA Raphael        (Index =  36 )
CASTANO Efren        (Index =  49 )
CULEDDU Julien        (Index =  65 )
DANTHU Olivier        (Index =  70 )
DAVID Jean-Yves        (Index =  74 )
DORISON HERVE        (Index =  83 )
GILI Renaud        (Index =  126 )
LE FUR Louis        (Index =  162 )
LONGOUR WILLIAM        (Index =  184 )
MANNIER Christophe        (Index =  194 )
MOREL Gerald        (Index =  212 )
POTIER Maxime        (Index =  242 )
RAKOTONDRAVAO Olivier        (Index =  245 )
SPHABMIXAY Souvanxay        (Index =  277 )

Homme de moins de 40 ans catégorie de poids [80, 84] Kg
BARROSO PEREIRA Steve        (Index =  13 )
FOSSARD Florent        (Index =  113 )
GERENIUS Axel        (Index =  125 )
HEBERT Julien        (Index =  141 )
LEFEVRE Damien        (Index =  170 )
MELLY Etienne        (Index =  204 )
NATIVEL ULRICK        (Index =  216 )
WESLEY Edouard        (Index =  305 )

Homme de plus de 40 ans catégorie de poids [84, 88] Kg
ABDELMALEK Abdelhafid        (Index =  0 )
GERARD STEPHANE        (Index =  123 )
HALIMI David        (Index =  137 )
LE LAIN Jean-claude        (Index =  164 )
LÉGER  Sébastien         (Index =  174 )
LEGLEYE Stéphane        (Index =  175 )
MACHETEAU FREDERIC        (Index =  192 )
MEIMOUN Olivier        (Index =  201 )
PARKER Zacharie        (Index =  228 )
PRIETO Aurelien        (Index =  243 )
REYL Fabien        (Index =  252 )
RUBINI Fabrice        (Index =  261 )
VINCENT Thierry        (Index =  301 )

Homme de moins de 40 ans catégorie de poids [84, 88] Kg
BEN HAMOU Sidney        (Index =  16 )
BONNOTTE Jeremy        (Index =  24 )
DELOHEN Anthony        (Index =  79 )
GRELLIER GAETAN        (Index =  131 )
IDIR Jugurtha        (Index =  149 )
LOSQ Olivier        (Index =  187 )
PERISE MANUEL        (Index =  231 )
RENDLER Adrien        (Index =  251 )

Homme de plus de 40 ans catégorie de poids [88, 92] Kg
BUCQUET Alexander        (Index =  41 )
ESNOULT PASCAL        (Index =  96 )
HERNANDEZ Damien        (Index =  144 )
LEROY JACQUES        (Index =  179 )
NITELET Jean-François        (Index =  219 )
SERVANT-ROUMEY Luc        (Index =  272 )

Homme de moins de 40 ans catégorie de poids [88, 92] Kg
LEMAIRE Ulric        (Index =  177 )

Homme de plus de 40 ans catégorie de poids [92, 96] Kg
LEMMEL OLIVIER         (Index =  178 )
VANHEEGHE BENOIT        (Index =  297 )
VENET Laurent        (Index =  298 )

Homme de moins de 40 ans catégorie de poids [92, 96] Kg
GIRAUD Sébastien        (Index =  127 )
ROBIN Rodnay        (Index =  258 )

Homme de plus de 40 ans catégorie de poids [96, 100] Kg
IRVENSEC Jean-Paul        (Index =  150 )
MULLER Christophe        (Index =  215 )
OUAKIL SERGE        (Index =  222 )
PANETTA Laurent        (Index =  226 )
PIERROT Patrice        (Index =  238 )
TOURNAL HERVE        (Index =  293 )

Homme de moins de 40 ans catégorie de poids [96, 100] Kg
CREUSOT Mathieu        (Index =  64 )

Homme de plus de 40 ans catégorie de poids [100, 104] Kg
SUEUR DAVID        (Index =  279 )
TAYAR Marc        (Index =  281 )

Homme de moins de 40 ans catégorie de poids [100, 104] Kg
GREVIN Christophe        (Index =  132 )

Homme de plus de 40 ans catégorie de poids [104, 111] Kg
FERRER Bruno        (Index =  104 )
WALTER Hervé        (Index =  303 )

Homme de moins de 40 ans catégorie de poids [104, 111] Kg
ALBAREDE Cédric        (Index =  2 )
JUILLARD Christophe        (Index =  153 )
LORET Fabian        (Index =  186 )
CPU times: user 410 ms, sys: 45.5 ms, total: 455 ms
Wall time: 426 ms

In [13]:
# DARGA 3
print('Pour la troisième darga:')
for bin in labels:
    globals()['groupeH403D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH403D_bin%s' %bin] = groupeH403D[groupeH403D.binned==bin]
    if len(globals()['groupeH403D_bin%s' %bin]) > 0:
        print()
        print('Homme de plus de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeH403D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeH393D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH393D_bin%s' %bin] = groupeH393D[groupeH393D.binned==bin]
    if len(globals()['groupeH393D_bin%s' %bin]) > 0:
        print()
        print('Homme de moins de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeH393D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF403D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF403D_bin%s' %bin] = groupeF403D[groupeF403D.binned==bin]
    if len(globals()['groupeF403D_bin%s' %bin]) > 0:
        print()
        print('Femme de plus de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeF403D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF393D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF393D_bin%s' %bin] = groupeF393D[groupeF393D.binned==bin]
    if len(globals()['groupeF393D_bin%s' %bin]) > 0:
        print()
        print('Femme de moins de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeF393D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

Pour la troisième darga:

Femme de plus de 40 ans catégorie de poids 56, 60 Kg
DUFOUR Isabelle        (Index =  89 )

Homme de moins de 40 ans catégorie de poids 60, 64 Kg
BORDILLON Julien        (Index =  26 )

Homme de plus de 40 ans catégorie de poids 64, 68 Kg
AMELIN Frédéric        (Index =  4 )
SAUVANET  Dominique         (Index =  266 )

Homme de plus de 40 ans catégorie de poids 68, 72 Kg
GREJNER Andrej        (Index =  130 )

Homme de moins de 40 ans catégorie de poids 68, 72 Kg
BEN JABER ANIS        (Index =  17 )
RICHEROLLE Benjamin        (Index =  254 )

Homme de plus de 40 ans catégorie de poids 72, 76 Kg
LEDAUPHIN Rémy        (Index =  168 )
NEVES Pedro        (Index =  217 )
NIGER DIDIER        (Index =  218 )

Homme de plus de 40 ans catégorie de poids 76, 80 Kg
KONATE Alou        (Index =  155 )
LAGORIO Christophe         (Index =  156 )

Homme de moins de 40 ans catégorie de poids 76, 80 Kg
DOYARD Denis        (Index =  87 )
GRECO RAPHAEL ABDOURAHMAN        (Index =  129 )

Homme de plus de 40 ans catégorie de poids 80, 84 Kg
JÉDROCHA Frédéric        (Index =  152 )
TILLARD Eric        (Index =  292 )

Homme de moins de 40 ans catégorie de poids 80, 84 Kg
LEVEQUE Rénald        (Index =  181 )

Homme de plus de 40 ans catégorie de poids 84, 88 Kg
BOULANGER NICOLAS        (Index =  30 )
CHADUTEAU Philippe        (Index =  51 )

Homme de plus de 40 ans catégorie de poids 92, 96 Kg
LORET Bruno        (Index =  185 )
OUBOUDINAR Samir        (Index =  224 )

Homme de plus de 40 ans catégorie de poids 96, 100 Kg
TICHADOU Didier        (Index =  291 )

Homme de plus de 40 ans catégorie de poids 104, 111 Kg
SCHOTTE Jerome        (Index =  269 )

In [14]:
# DARGA 4
print('Pour la quatrième darga:')
for bin in labels:
    globals()['groupeH404D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH404D_bin%s' %bin] = groupeH404D[groupeH404D.binned==bin]
    if len(globals()['groupeH404D_bin%s' %bin]) > 0:
        print()
        print('Homme de plus de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeH404D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeH394D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeH394D_bin%s' %bin] = groupeH394D[groupeH394D.binned==bin]
    if len(globals()['groupeH394D_bin%s' %bin]) > 0:
        print()
        print('Homme de moins de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeH394D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF404D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF404D_bin%s' %bin] = groupeF404D[groupeF404D.binned==bin]
    if len(globals()['groupeF404D_bin%s' %bin]) > 0:
        print()
        print('Femme de plus de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeF404D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

    globals()['groupeF394D_bin%s' %bin] = pd.DataFrame()
    globals()['groupeF394D_bin%s' %bin] = groupeF394D[groupeF394D.binned==bin]
    if len(globals()['groupeF394D_bin%s' %bin]) > 0:
        print()
        print('Femme de moins de 40 ans catégorie de poids',CAT[bin-1],'Kg')
        for x in globals()['groupeF394D_bin%s' %bin].id:
            print(df2[df2.index==x].iloc[0,1]+' '+df2[df2.index==x].iloc[0,2],'       (Index = ',x,')')

Pour la quatrième darga:

Femme de plus de 40 ans catégorie de poids 60, 64 Kg
GUILLORIT Julie        (Index =  133 )

Homme de plus de 40 ans catégorie de poids 68, 72 Kg
SOUILLOT Etienne        (Index =  276 )

Homme de moins de 40 ans catégorie de poids 72, 76 Kg
REMACLE Julien        (Index =  250 )

Homme de plus de 40 ans catégorie de poids 84, 88 Kg
GONCALVES Hervé        (Index =  128 )
TRAN Pascal        (Index =  294 )

Homme de plus de 40 ans catégorie de poids 92, 96 Kg
OUAZINE Djamel        (Index =  223 )
PANXHAJ Fatmir        (Index =  227 )

In [15]:
OUTLIERS_1 = []
OUTLIERS_2 = []
OUTLIERS_3 = []
OUTLIERS_4 = []
VERIF_INDEX = []
for i in range(len(df1)+1):
    globals()['JURY_%s' %i] = []

groupeF391D.sort_values('binned')

     Civilité  age                  Club  Darga  Poids   id binned
58          0    0                 AMA95      1     46   58      1
23          0    0                 KMC92      1     50   23      2
188         0    0                 KMC92      1     52  188      2
34          0    0              BODY VIP      1     54   34      3
86          0    0             KM AMIENS      1     54   86      3
3           0    0                  KM75      1     60    3      4
61          0    0               KM LYON      1     60   61      4
45          0    0       SELF-DEFENSE 45      1     62   45      5
48          0    0                  KMPO      1     63   48      5
229         0    0  Ecole dionysienne KM      1     62  229      5
25          0    0                  EKMC      1     66   25      6
234         0    0           KM COACHING      1     66  234      6

In [16]:
df1.iloc[5:9,:]

,N° Jury,Jury1,Club,Jury2,Club.1,Gene1,Gene2,PASSAGE1,PASSAGE2,PASSAGE3,PASSAGE4
5,Jury6,VEILLERANT,KMC92,PLENAMENTE Denis,KMUD,37,45,1,1,0,0
6,Jury7,SOUSSAND Cédric,EKMC,TAGLIANA Eric,KMC92,16,37,1,1,0,0
7,Jury8,BERTHOMMIER Gilles,ECKM93,DELAMESIERE Arnauld,AKMV,13,6,1,1,0,0
8,Jury9,GUILBERT Olivier,KM49,GUIOT Maxime,AMICALE POMPIERS MULHOUSE,32,7,1,1,0,0

In [17]:
def matching(_compteur,df,_flag,_darga):
    df = df.sort_values('binned')
    print('\nLongeur df',len(df),end='')
    print(' --  compteur à ',_compteur)
    for i in range(0,len(df)):
        
        if _flag == 1:
            _flag = 0
            continue
        
        
        if _compteur > _end:
            _compteur = _start
        
        if len(df.iloc[i:,:]) <= 2:
            globals()['OUTLIERS_%s' %_darga].append(df2.iloc[[df.index[i]]])
            VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
            try:
                globals()['OUTLIERS_%s' %_darga].append(df2.iloc[[df.index[i+1]]])
                VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])
                break
            except:
                pass
            continue

        if df.iloc[i,:].binned != df.iloc[i+1,:].binned:
            globals()['OUTLIERS_%s' %_darga].append(df2.iloc[[df.index[i]]])
            VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
            continue

        if (df.iloc[i]['binned'] == df.iloc[i+1]['binned']) \
            and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club']) \
                and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club.1']) \
                    and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club']) \
                        and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club.1']) :
            globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i]]])
            globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i+1]]])
            VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
            VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])

            _compteur += 1
            _flag = 1
            continue
        else:
            _compteur += 1
            
            if _compteur > _end:
                _compteur = _start
            if (df.iloc[i]['binned'] == df.iloc[i+1]['binned']) \
            and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club']) \
                and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club.1']) \
                    and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club']) \
                        and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club.1']) :
                globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i]]])
                globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i+1]]])
                VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
                VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])
                _compteur += 1
                _flag = 1
                continue
            else:
                _compteur += 1
                
                if _compteur > _end:
                    _compteur = _start
                if (df.iloc[i]['binned'] == df.iloc[i+1]['binned']) \
            and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club']) \
                and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club.1']) \
                    and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club']) \
                        and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club.1']) :
                    globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i]]])
                    globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i+1]]])
                    VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
                    VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])
                    _compteur += 1
                    _flag = 1
                    continue
                else:
                    _compteur += 1
                    
                    if _compteur > _end:
                        _compteur = _start
                    if (df.iloc[i]['binned'] == df.iloc[i+1]['binned']) \
                and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club']) \
                    and (df.iloc[i]['Club'] != df1.iloc[_compteur-1]['Club.1']) \
                        and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club']) \
                            and (df.iloc[i+1]['Club'] != df1.iloc[_compteur-1]['Club.1']) :
                        globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i]]])
                        globals()['JURY_%s' %_compteur].append(df2.iloc[[df.index[i+1]]])
                        VERIF_INDEX.append(df2.iloc[[df.index[i]]].index[0])
                        VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])
                        _compteur += 1
                        _flag = 1
                        continue
                    else:
                        
                        globals()['OUTLIERS_%s' %_darga].append(df2.iloc[[df.index[i]]])
                        VERIF_INDEX.append(df2.iloc[[df.index[i+1]]].index[0])
                        continue
    
    
    return(_compteur,df,_flag)

In [18]:
%%time
# DARGA 1
_darga = 1
_start = 17
_end = 34
_compteur = _start
_flag = 0
_compteur,df,_flag = matching(_compteur,groupeF391D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeF401D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH391D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH401D,_flag,_darga)

_verif = 0
for n in range(_start,_end+1):
    _verif += len(globals()['JURY_%s' %n])

print('Longueur des binomes',_verif)
print('Longueur outliers',len(OUTLIERS_1))
print('Total',_verif + len(OUTLIERS_1),'sur',candidats[candidats.Darga==1].shape[0])
print()
for n in range(_start,_end+1):
    print("Pour le jury",n," longueur à: ",len(globals()['JURY_%s' %n]))

Longeur df 12 --  compteur à  17

Longeur df 7 --  compteur à  21

Longeur df 56 --  compteur à  23

Longeur df 134 --  compteur à  30
Longueur des binomes 188
Longueur outliers 21
Total 209 sur 209

Pour le jury 17  longueur à:  12
Pour le jury 18  longueur à:  12
Pour le jury 19  longueur à:  12
Pour le jury 20  longueur à:  8
Pour le jury 21  longueur à:  12
Pour le jury 22  longueur à:  10
Pour le jury 23  longueur à:  10
Pour le jury 24  longueur à:  12
Pour le jury 25  longueur à:  8
Pour le jury 26  longueur à:  12
Pour le jury 27  longueur à:  12
Pour le jury 28  longueur à:  12
Pour le jury 29  longueur à:  12
Pour le jury 30  longueur à:  10
Pour le jury 31  longueur à:  8
Pour le jury 32  longueur à:  10
Pour le jury 33  longueur à:  6
Pour le jury 34  longueur à:  10
CPU times: user 485 ms, sys: 13.8 ms, total: 498 ms
Wall time: 488 ms

In [19]:
%%time
# DARGA 2

_darga = 2
_start = 6
_end = 16
_compteur = _start
_flag = 0
_compteur,df,_flag = matching(_compteur,groupeF392D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeF402D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH392D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH402D,_flag,_darga)

_verif = 0
for n in range(_start,_end+1):
    _verif += len(globals()['JURY_%s' %n])

print('Longueur des binomes',_verif)
print('Longueur outliers',len(OUTLIERS_2))
print('Total',_verif + len(OUTLIERS_2),'sur',candidats[candidats.Darga==2].shape[0])

for n in range(_start,_end+1):
    print("Pour le jury",n," longueur à: ",len(globals()['JURY_%s' %n]))

Longeur df 2 --  compteur à  6

Longeur df 1 --  compteur à  6

Longeur df 16 --  compteur à  6

Longeur df 50 --  compteur à  13
Longueur des binomes 52
Longueur outliers 17
Total 69 sur 69
Pour le jury 6  longueur à:  4
Pour le jury 7  longueur à:  6
Pour le jury 8  longueur à:  6
Pour le jury 9  longueur à:  6
Pour le jury 10  longueur à:  6
Pour le jury 11  longueur à:  6
Pour le jury 12  longueur à:  4
Pour le jury 13  longueur à:  4
Pour le jury 14  longueur à:  2
Pour le jury 15  longueur à:  4
Pour le jury 16  longueur à:  4
CPU times: user 154 ms, sys: 6.07 ms, total: 160 ms
Wall time: 156 ms

In [20]:
%%time
# DARGA 3
_darga = 3
_start = 3
_end = 5
_compteur = _start
_flag = 0
_compteur,df,_flag = matching(_compteur,groupeF393D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeF403D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH393D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH403D,_flag,_darga)

_verif = 0
for n in range(_start,_end+1):
    _verif += len(globals()['JURY_%s' %n])

print('Longueur des binomes',_verif)
print('Longueur outliers',len(OUTLIERS_3))
print('Total',_verif + len(OUTLIERS_3),'sur',candidats[candidats.Darga==3].shape[0])

for n in range(_start,_end+1):
    print("Pour le jury",n," longueur à: ",len(globals()['JURY_%s' %n]))

Longeur df 0 --  compteur à  3

Longeur df 1 --  compteur à  3

Longeur df 6 --  compteur à  3

Longeur df 16 --  compteur à  5
Longueur des binomes 16
Longueur outliers 7
Total 23 sur 23
Pour le jury 3  longueur à:  6
Pour le jury 4  longueur à:  6
Pour le jury 5  longueur à:  4
CPU times: user 57.3 ms, sys: 4.88 ms, total: 62.2 ms
Wall time: 58.4 ms

In [21]:
%%time
# DARGA 4
_darga = 4
_start = 1
_end = 2
_compteur = _start
_flag = 0
_compteur,df,_flag = matching(_compteur,groupeF394D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeF404D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH394D,_flag,_darga)

_compteur,df,_flag  = matching(_compteur,groupeH404D,_flag,_darga)

_verif = 0
for n in range(_start,_end+1):
    _verif += len(globals()['JURY_%s' %n])

print('Longueur des binomes',_verif)
print('Longueur outliers',len(OUTLIERS_4))
print('Total',_verif + len(OUTLIERS_4),'sur',candidats[candidats.Darga==4].shape[0])

for n in range(_start,_end):
    print("Pour le jury",n," longueur à: ",len(globals()['JURY_%s' %n]))

Longeur df 0 --  compteur à  1

Longeur df 1 --  compteur à  1

Longeur df 1 --  compteur à  1

Longeur df 5 --  compteur à  1
Longueur des binomes 2
Longueur outliers 5
Total 7 sur 7
Pour le jury 1  longueur à:  2
CPU times: user 21.6 ms, sys: 4.06 ms, total: 25.7 ms
Wall time: 22.9 ms

In [22]:
%%time
for foo in range(len(df1)):
    df_res = pd.DataFrame()
    for i in range(len(globals()['JURY_%s' %foo])):
        df_res = pd.concat((df_res,globals()['JURY_%s' %foo][i]))
    df_res.to_csv('Jurys/Jury_'+str(foo)+'.csv')

CPU times: user 585 ms, sys: 16.9 ms, total: 602 ms
Wall time: 609 ms

In [23]:
%%time
for foo in range(1,4):
    df_out = pd.DataFrame()
    for i in range(len(globals()['OUTLIERS_%s' %foo])):
        df_out = pd.concat((df_out,globals()['OUTLIERS_%s' %foo][i]))
    
    df_out.to_csv('Jurys/Outliers_'+str(foo)+'.csv')

CPU times: user 112 ms, sys: 6.09 ms, total: 118 ms
Wall time: 115 ms

In [ ]:
# TO DO : NOUVELLE IMPLEMENTATION _compteur POUR REPARTIR SELON SOTR_VALUES DES LEN() TOUJOURS EN PREMIER