In [1]:
___Author___='LumberJack Jyss'

In [2]:
print('Global Optimized LumberJack Equities Method\n°OoO_FOREX_Oo0°\nLumberJack Jyss 5779(c)')

Global Optimized LumberJack Equities Method
°OoO_FOREX_Oo0°
LumberJack Jyss 5779(c)

In [3]:
print('Importation des librairies...')
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
print('Librairies importées')

Importation des librairies...

Using TensorFlow backend.

Librairies importées

In [4]:

start = pd.to_datetime('2014-01-28')
end = pd.to_datetime('2019-05-21')

df = web.DataReader('FB','yahoo',start,end)

delta = round(df.shape[0])
bloc1 = round(delta*0.8)
bloc2 = delta - bloc1
print("Période d'étude : ",delta)
print('Sur un découpage 80% - 20% de la période : ')
print('Bloc 1 : ',bloc1,' jours \nBloc 2 :',bloc2,' jours')
print('Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés')


#dataframe = dataframe.iloc[:,1:]
df.reset_index(inplace=True)
df.head()

Période d'étude :  1338
Sur un découpage 80% - 20% de la période :
Bloc 1 :  1070  jours
Bloc 2 : 268  jours
Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés

        Date       High        Low       Open      Close     Volume  Adj Close
0 2014-01-28  55.279999  54.000000  54.020000  55.139999   48191200  55.139999
1 2014-01-29  54.950001  53.189999  54.610001  53.529999   92995600  53.529999
2 2014-01-30  62.500000  60.459999  62.119999  61.080002  150178900  61.080002
3 2014-01-31  63.369999  60.169998  60.470001  62.570000   87794600  62.570000
4 2014-02-03  63.770000  60.700001  63.029999  61.480000   74866600  61.480000

In [5]:
df.shape

(1338, 7)

In [6]:
data_train = df.iloc[:bloc1,:6]
data_train.head()

        Date       High        Low       Open      Close     Volume
0 2014-01-28  55.279999  54.000000  54.020000  55.139999   48191200
1 2014-01-29  54.950001  53.189999  54.610001  53.529999   92995600
2 2014-01-30  62.500000  60.459999  62.119999  61.080002  150178900
3 2014-01-31  63.369999  60.169998  60.470001  62.570000   87794600
4 2014-02-03  63.770000  60.700001  63.029999  61.480000   74866600

In [7]:
df.shape

(1338, 7)

In [8]:
trainset = data_train.iloc[:, 3:4].values
trainset

array([[ 54.02000046],
       [ 54.61000061],
       [ 62.11999893],
       ...,
       [165.42999268],
       [160.13999939],
       [173.22000122]])

In [9]:
sc = MinMaxScaler(feature_range = (0,1))
trainData_scaled = sc.fit_transform(trainset)

In [10]:
x_train = []
y_train = []

In [11]:
for i in range(60, len(data_train)): #60 is the memory size, nb of rows of training data
    x_train.append(trainData_scaled[i-60:i, 0]) # adds data for the last 60 rows
    y_train.append(trainData_scaled[i,0]) # adds the prices that the model is trying to predict

# Convert to tensors
x_train, y_train = np.array(x_train), np.array(y_train)

In [12]:
x_train.shape

(1010, 60)

In [13]:
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1)) # adds a 3rd dimension to the tensor
#                     array , new size -->(x, y, z)

In [14]:
model = Sequential()

model.add(LSTM(units = 50, return_sequences = True, input_shape = (x_train.shape[1], 1)))
model.add(Dropout(0.2))

model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))

model.add(LSTM(units = 50))
model.add(Dropout(0.2))

model.add(Dense(units = 1))

model.compile(optimizer = 'adam', loss='mean_squared_error')

WARNING: Logging before flag parsing goes to stderr.
W0523 09:06:17.343536 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0523 09:06:17.357573 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0523 09:06:17.360098 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0523 09:06:17.624208 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0523 09:06:17.631301 4618749376 deprecation.py:506] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0523 09:06:18.015459 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
model.fit(x_train, y_train, epochs = 100, batch_size = 28)

W0523 09:06:18.270661 4618749376 deprecation.py:323] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0523 09:06:19.967449 4618749376 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
1010/1010 [==============================] - 6s 6ms/step - loss: 0.0446
Epoch 2/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0047
Epoch 3/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0048
Epoch 4/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0038
Epoch 5/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0036
Epoch 6/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0039
Epoch 7/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0032
Epoch 8/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0029
Epoch 9/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0034
Epoch 10/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0036
Epoch 11/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0030
Epoch 12/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0033
Epoch 13/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0029
Epoch 14/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0028
Epoch 15/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0028
Epoch 16/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0026
Epoch 17/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0030
Epoch 18/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0026
Epoch 19/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0028
Epoch 20/100
1010/1010 [==============================] - 5s 5ms/step - loss: 0.0031
Epoch 21/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0028
Epoch 22/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0032
Epoch 23/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0028
Epoch 24/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0025
Epoch 25/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0030
Epoch 26/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0024
Epoch 27/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0029
Epoch 28/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0026
Epoch 29/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0024
Epoch 30/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0024
Epoch 31/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0022
Epoch 32/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0022
Epoch 33/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0020
Epoch 34/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0022
Epoch 35/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0022
Epoch 36/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0023
Epoch 37/100
1010/1010 [==============================] - 5s 5ms/step - loss: 0.0022
Epoch 38/100
1010/1010 [==============================] - 5s 4ms/step - loss: 0.0022
Epoch 39/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0022
Epoch 40/100
1010/1010 [==============================] - 5s 5ms/step - loss: 0.0022
Epoch 41/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0021
Epoch 42/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0023
Epoch 43/100
1010/1010 [==============================] - 5s 5ms/step - loss: 0.0021
Epoch 44/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 45/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 46/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 47/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0023
Epoch 48/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 49/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 50/100
1010/1010 [==============================] - 5s 4ms/step - loss: 0.0020
Epoch 51/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 52/100
1010/1010 [==============================] - 5s 5ms/step - loss: 0.0019
Epoch 53/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 54/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 55/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0024
Epoch 56/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 57/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0020
Epoch 58/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0020
Epoch 59/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 60/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 61/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 62/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0019
Epoch 63/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 64/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 65/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 66/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 67/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 68/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 69/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 70/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 71/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 72/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 73/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 74/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 75/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 76/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0017
Epoch 77/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 78/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 79/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 80/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 81/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 82/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 83/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0012
Epoch 84/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0012
Epoch 85/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 86/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 87/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0018
Epoch 88/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 89/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 90/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 91/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0014
Epoch 92/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 93/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 94/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 95/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0012
Epoch 96/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0016
Epoch 97/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015
Epoch 98/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0013
Epoch 99/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0012
Epoch 100/100
1010/1010 [==============================] - 4s 4ms/step - loss: 0.0015

In [16]:
model.save("BIDU_RNN.hd5f")

In [17]:
df.head()

        Date       High        Low       Open      Close     Volume  Adj Close
0 2014-01-28  55.279999  54.000000  54.020000  55.139999   48191200  55.139999
1 2014-01-29  54.950001  53.189999  54.610001  53.529999   92995600  53.529999
2 2014-01-30  62.500000  60.459999  62.119999  61.080002  150178900  61.080002
3 2014-01-31  63.369999  60.169998  60.470001  62.570000   87794600  62.570000
4 2014-02-03  63.770000  60.700001  63.029999  61.480000   74866600  61.480000

In [18]:
bloc1

1070

In [19]:
data_test= df.iloc[bloc1:,:6] # Import Test Data

In [20]:
data_train.tail()

           Date        High         Low        Open       Close    Volume
1065 2018-04-20  168.429993  165.809998  167.789993  166.279999  19119400
1066 2018-04-23  168.449997  165.089996  167.270004  165.839996  23088100
1067 2018-04-24  166.100006  158.190002  165.429993  159.690002  35079900
1068 2018-04-25  161.059998  156.190002  160.139999  159.690002  41083600
1069 2018-04-26  176.270004  170.800003  173.220001  174.160004  77556900

In [21]:
data_test.head()

           Date        High         Low        Open       Close    Volume
1070 2018-04-27  177.100006  172.600006  176.809998  173.589996  29804700
1071 2018-04-30  175.720001  171.710007  173.789993  172.000000  20750500
1072 2018-05-01  174.020004  170.229996  172.000000  173.860001  26025900
1073 2018-05-02  178.080002  174.199997  174.250000  176.070007  30424500
1074 2018-05-03  176.119995  172.119995  175.130005  174.020004  24026100

In [22]:
actual_stock_price = data_test.iloc[:, 3:4].values # Get the Open Prices

In [23]:
data_total = pd.concat((data_train['Open'], data_test['Open']), axis=0) 
# combines the train and test data (axis=0 labels by index)

In [24]:
data_total[-5:]

1333    180.419998
1334    185.050003
1335    184.839996
1336    181.880005
1337    184.570007
Name: Open, dtype: float64

In [25]:
inputs = data_total[len(data_total) - len(data_test)-60:].values #removes the answers
print(len(data_total))
print(len(data_test))

inputs = inputs.reshape(-1, 1) #Converts the row of values into a column vector
inputs = sc.transform(inputs) # Feature Scaling (0-1)
inputs.shape

1338
268

(328, 1)

In [26]:
# Prepare Testing Inputs
x_test = []

for i in range(60, inputs.shape[0]):
    x_test.append(inputs[i-60:i, 0]) #Prepares the 60 data memory input

x_test = np.array(x_test) #Turn the inputs into an array
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1)) # Add a 3rd dimension

In [27]:
# Use the RNN to make the predeictions 
raw_prediction = model.predict(x_test)

In [28]:
price_prediction = sc.inverse_transform(raw_prediction) # Undoes the normalization into usable values
price_prediction [0:5]

array([[162.65387],
       [164.39227],
       [166.47304],
       [168.00084],
       [169.08272]], dtype=float32)

In [30]:
sc2 = MinMaxScaler(feature_range = (-1,1))

raw_prediction = sc2.fit_transform(raw_prediction)

Suggestion_long = []
percentChange_long = []
Suggestion_short = []
percentChange_short = []

for d in range(1,len(raw_prediction)):
    percentChange_long.append(float((raw_prediction[d]-raw_prediction[d-1])))
    percentChange_short.append(float((raw_prediction[d]-raw_prediction[d-1])))

for n in percentChange_long:
    #print(n)
    if n > 0.02:
        Suggestion_long.append(-1) # Sell after a threshhold of increase
    elif n < 0.02:
        Suggestion_long.append(1) # Buy when there is a drop
    else:
        Suggestion_long.append(0)
#print(Buy)

    
for n in percentChange_short:
    #print(n)
    if n < -0.02:
        Suggestion_short.append(1) # Buy after a threshhold of increase
    elif n > 0.02:
        Suggestion_short.append(-1) # Sell when there is a drop
    else:
        Suggestion_short.append(0)
#print(Buy)

In [ ]:
PurchaseHistory_long=[]
BuyPoints_long =  [[], []]
SellPoints_long = [[], []]
bought_long = False
PurchaseHistory_short=[]
BuyPoints_short =  [[], []]
SellPoints_short = [[], []]
sold_short = False

for i in range(0, len(actual_stock_price)-1):
    if Suggestion_long[i] == 1 and not bought_long:
        PurchaseHistory_long.append(["Buy: ", actual_stock_price[i], i])
        BuyPoints_long[0].append(actual_stock_price[i])
        BuyPoints_long[1].append(i)
        bought_long = True
    
    if Suggestion_long[i] == -1 and bought_long:
        PurchaseHistory_long.append(["Sell:", actual_stock_price[i], i])
        SellPoints_long[0].append(actual_stock_price[i])
        SellPoints_long[1].append(i)        
        bought_long = False
    
    if Suggestion_short[i] == -1 and not sold_short:
        PurchaseHistory_short.append(["Sell: ", actual_stock_price[i], i])
        SellPoints_short[0].append(actual_stock_price[i])
        SellPoints_short[1].append(i)
        sold_short = True
    
    if Suggestion_short[i] == 1 and sold_short:
        PurchaseHistory_short.append(["Buy:", actual_stock_price[i], i])
        BuyPoints_short[0].append(actual_stock_price[i])
        BuyPoints_short[1].append(i)        
        sold_short = False
        
if len(PurchaseHistory_long)%2 != 0:
    PurchaseHistory_long.pop()
    BuyPoints_long[0].pop()
    BuyPoints_long[1].pop() 


if len(PurchaseHistory_short)%2 != 0:
    PurchaseHistory_short.pop()
    SellPoints_short[0].pop()
    SellPoints_short[1].pop()

In [ ]:
purchase = 0
Profit_long = 0
for purchase in range(1, len(PurchaseHistory_long)+1, 2):
    MoneyMade_long = float(PurchaseHistory_long[purchase][1] - float(PurchaseHistory_long[purchase-1][1]))
    Profit_long += MoneyMade_long

print('Profit Long : $'+ str(round(Profit_long, 2)))

In [ ]:
Profit_short = 0
for purchase in range(1, len(PurchaseHistory_short)+1, 2):
    MoneyMade_short = (float(-PurchaseHistory_short[purchase][1] + float(PurchaseHistory_short[purchase-1][1])))
    Profit_short += MoneyMade_short

print('Profit Short : $'+ str(round(Profit_short, 2)))

In [ ]:
plt.figure(figsize=(16,6),dpi=200)
plt.plot(actual_stock_price, color =  'purple', label = "Actual Price")
plt.plot(price_prediction, color = 'orange', label = "Predicted Price")
plt.plot(BuyPoints_long[1], BuyPoints_long[0], "go",label='Buy')
plt.plot(SellPoints_long[1], SellPoints_long[0], "ro",label='Sell')
plt.title("Go Long... FB January 2014 - May 2019 Stock Predictions")
plt.xlabel('Time')
plt.ylabel('FB Stock Price')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(16,6),dpi=200)
plt.plot(actual_stock_price, color =  'purple', label = "Actual Price")
plt.plot(price_prediction, color = 'orange', label = "Predicted Price")
plt.plot(BuyPoints_short[1], BuyPoints_short[0], "go",label='Buy')
plt.plot(SellPoints_short[1], SellPoints_short[0], "ro",label='Sell')

plt.title("Go Short, FB January 2014 - May 2019 Stock Predictions")
plt.xlabel('Time')
plt.ylabel('FB Stock Price')
plt.legend()
plt.show()

In [ ]:
print('Cumulative Profit :','$'+ str(round(Profit_long+Profit_short, 2)))

In [ ]:
MinimumRequiredCapital_long = max(BuyPoints_long[0])
MinimumRequiredCapital_short = max(BuyPoints_short[0])
ROI_long = Profit_long / MinimumRequiredCapital_long * 100
ROI_short = Profit_short / MinimumRequiredCapital_short * 100
print('Summary FB')
print('Total period : From ',start,' to ',end)
print('Training on ',bloc1,' days')
print('Testing on ',bloc2,' days')
print('Minimum Required Capital long :',round(MinimumRequiredCapital_long[0]),'$')
print('Minimum Required Capital short :',round(MinimumRequiredCapital_short[0]),'$')
print('Number of long :',len(BuyPoints_long[1]))
print('Number of short :',len(BuyPoints_short[1]))
print('Short CumProfit :''$'+ str(round(Profit_short, 2)))
print('Long CumProfit :''$'+ str(round(Profit_long, 2)))
print('Cumulative Profit :','$'+ str(round(Profit_long+Profit_short, 2)))
print("Return on Long Investment:", round(float(ROI_long), 2),"%")
print("Return on Short Investment:", round(float(ROI_short), 2),"%")

In [75]:
df.shape

(1338, 7)