In [1]:
import pandas as pd
df = pd.read_csv('SIGNALS_2019-11-11.csv')
df1 = pd.read_csv('SIGNALS_2019-11-12.csv')
df2 = pd.read_csv('SIGNALS_2019-11-13.csv')
df3 = pd.read_csv('SIGNALS_2019-11-14.csv')
df4 = pd.read_csv('SIGNALS_2019-11-15.csv')
df = pd.concat((df,df1,df2,df3,df4))
df = df.drop(['Unnamed: 0'],axis=1)
df.head()

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price,Open.S Price
0,2019-11-11,LHX,0,0,0,0,195.160004,NaN
1,2019-11-11,CMI,0,0,0,0,186.440002,NaN
2,2019-11-11,EW,0,0,0,0,234.699997,NaN
3,2019-11-11,GE,0,0,0,0,11.350000,NaN
4,2019-11-11,COF,0,0,0,0,97.010002,NaN

In [2]:
df.shape

(1665, 8)

In [3]:
len(df['Ticker'].unique())

333

In [4]:
len(df.drop_duplicates())

1665

In [5]:
df['Open Long'].sum()

46

In [6]:
df['Open Short'].sum()

50

In [7]:
df['Close Long'].sum()

59

In [8]:
df['Close Short'].sum()

64

In [14]:
len(df.dropna())

0