In [1]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score,roc_curve,confusion_matrix,classification_report

Using TensorFlow backend.

In [2]:
import pandas as pd
from colorama import Fore, Back, Style

In [3]:
df = pd. DataFrame()
df2 = pd.DataFrame()

In [4]:
df['colonne 1'] = [-1,1,1,-1,1,-1,-1,-1,-1,1,1,-1,1,-1,-1,1,-1,1,-1]
df['colonne 2'] = [1,1,1,-1,-1,1,-1,1,1,1,-1,1,-1,1,-1,1,1,-1,1]
df['pair'] = [0,1,1,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0]
df

    colonne 1  colonne 2  pair
0          -1          1     0
1           1          1     1
2           1          1     1
3          -1         -1     1
4           1         -1     0
5          -1          1     0
6          -1         -1     1
7          -1          1     0
8          -1          1     0
9           1          1     1
10          1         -1     0
11         -1          1     0
12          1         -1     0
13         -1          1     0
14         -1         -1     1
15          1          1     1
16         -1          1     0
17          1         -1     0
18         -1          1     0

In [5]:
df2['Colonne 1'] = [-1,1,-1,1,1,-1,-1,1,-0,-1,1,-1,1,1,-1,-1,1,-0,1,0,1,-1,1,-1,1,0,1,-1,1,-1,1]
df2['Colonn 2'] = [1,1,-1,1,-1,1,-1,1,-1,1,-1,1,1,-1,-1,1,-0,1,0,1,-1,1,-1,-1,1,1,-1,-1,1,1,-1]
df2.to_csv('df2.csv')
df2

    Colonne 1  Colonn 2
0          -1         1
1           1         1
2          -1        -1
3           1         1
4           1        -1
5          -1         1
6          -1        -1
7           1         1
8           0        -1
9          -1         1
10          1        -1
11         -1         1
12          1         1
13          1        -1
14         -1        -1
15         -1         1
16          1         0
17          0         1
18          1         0
19          0         1
20          1        -1
21         -1         1
22          1        -1
23         -1        -1
24          1         1
25          0         1
26          1        -1
27         -1        -1
28          1         1
29         -1         1
30          1        -1

In [6]:
Xtrain = df.iloc[:12,:2].values
Xtest = df.iloc[12:,:2].values
ytrain = df.iloc[:12,2].values
ytest = df.iloc[12:,2].values
Xblob = df2.values

In [7]:
#ytrain = ytrain.reshape(ytrain.shape[0],)

#Xtrain = Xtrain.reshape(Xtrain.shape[0],Xtrain.shape[1])

model = Sequential()
# Add an input layer 
model.add(Dense(10, activation='relu'))
# Add one hidden layer 
model.add(Dense(20, activation='relu'))
# Add an output layer 
model.add(Dense(1, activation='sigmoid'))

WARNING: Logging before flag parsing goes to stderr.
W0802 10:30:29.507779 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [8]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy','mse'])
    
history = model.fit(Xtrain, ytrain,epochs=10,batch_size=1, verbose=0)

W0802 10:30:30.651531 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0802 10:30:30.669012 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0802 10:30:30.671002 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0802 10:30:30.710099 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0802 10:30:30.714329 4456129984 deprecation.py:323] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0802 10:30:30.864331 4456129984 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

In [9]:
train_acc = model.evaluate(Xtrain, ytrain,verbose=1)
yhat = model.predict_classes(Xtest)
score = model.evaluate(Xtest, ytest,verbose=1)
predict = model.predict(Xtest)
accuracy = accuracy_score(ytest, yhat)
precision = precision_score(ytest, yhat)  
recall = recall_score(ytest, yhat) 

print('\n')
print(Fore.GREEN,'RESULTATS\n',Style.RESET_ALL)
print('Accuracy: %.2f%%' % (accuracy * 100.0))
print(Fore.BLUE,"Precision: %.2f%% " % (precision *100),Style.RESET_ALL,' => Discrimnination des vrais positifs parmi les faux positifs')
print("Recall: %.2f%% " % (recall * 100),' => Positifs trouvés par Golem sur tous les positifs existants')


print(classification_report(ytest, yhat))
conf_matrix = pd.DataFrame(index = ['vrais_réels','Faux_réels'])
conf_matrix['Vrais_estimés'] = ['Vrais_positifs','Faux_positifs']
conf_matrix['Faux_estimés'] = ['Faux_négatif','Vrais-négatifs']
print(confusion_matrix(ytest, yhat))

12/12 [==============================] - 0s 3ms/step
7/7 [==============================] - 0s 67us/step


 RESULTATS

Accuracy: 100.00%
 Precision: 100.00%    => Discrimnination des vrais positifs parmi les faux positifs
Recall: 100.00%   => Positifs trouvés par Golem sur tous les positifs existants
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         2

   micro avg       1.00      1.00      1.00         7
   macro avg       1.00      1.00      1.00         7
weighted avg       1.00      1.00      1.00         7

[[5 0]
 [0 2]]

In [10]:
df2['PREDICT SA RACE'] = model.predict_classes(Xblob)

In [11]:
df2

    Colonne 1  Colonn 2  PREDICT SA RACE
0          -1         1                0
1           1         1                1
2          -1        -1                1
3           1         1                1
4           1        -1                0
5          -1         1                0
6          -1        -1                1
7           1         1                1
8           0        -1                0
9          -1         1                0
10          1        -1                0
11         -1         1                0
12          1         1                1
13          1        -1                0
14         -1        -1                1
15         -1         1                0
16          1         0                1
17          0         1                0
18          1         0                1
19          0         1                0
20          1        -1                0
21         -1         1                0
22          1        -1                0
23         -1        -1                1
24          1         1                1
25          0         1                0
26          1        -1                0
27         -1        -1                1
28          1         1                1
29         -1         1                0
30          1        -1                0

In [12]:
savename = 'Save'
# serialize model to YAML
model_yaml = model.to_yaml()
with open(savename+".yaml", "w") as yaml_file:
    yaml_file.write(model_yaml)
    print("Yaml Model ",savename,".yaml saved to disk")
# serialize weights to HDF5
model.save_weights(savename+".h5")
print("Weights ",savename,".h5 saved to disk")

Yaml Model  Save .yaml saved to disk
Weights  Save .h5 saved to disk