In [1]:
def clearall():
    all = [var for var in globals() if var[0] != "_"]
    for var in all:
        del globals()[var]
        
clearall()

In [2]:
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
#######################################      M E G A      B A S E      M A K E R ##########################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################

In [3]:
############################
######## LIBRAIRIES ########
############################
print('Importing Librairies...')
import colorama as col
import pandas as pd
import time
import os
import fxcmpy
import socketio
import datetime as dt
import numpy as np
import pyttsx3

engine = pyttsx3.init()

print('Librairies imported\n')

engine.say("librairie loaded")
engine.runAndWait()
print('Prêt')

Importing Librairies...
Librairies imported

Prêt

In [4]:
# COMPTE DEV #
TOKEN = '79f83cbff13d296eb6d9b6c1ed6dccd768ef925a'
server = 'demo'
user_id = 'D261219577'
compte = '01215060'
password = '3877'

# minutes: 'm1' , 'm5' , 'm15' , 'm30' 
# hours: 'H1' , 'H2', 'H3', 'H4', 'H6' 'H8'
# one day: 'D1'
# one week: 'W1'
# one month: 'M1'


_number = 10000
_period = 'm5'
_period2 = 'H1'
_period3 = 'D1'
_total = 0
_cash_ini = 200000
_cash = _cash_ini
_rate = 1
_flag = 0

engine.say("בסדר")
engine.runAndWait()
print('Variables initialisées')

Variables initialisées

In [5]:
############################
######## FONCTIONS ########
###########################


def conX():
    con = fxcmpy.fxcmpy(access_token=TOKEN, log_level='error',server=server)
    if con.is_connected() == True:
        print(col.Fore.GREEN+'Connexion établie'+col.Style.RESET_ALL)
        print('Compte utilisé : ',con.get_account_ids())
    else:
        print(col.Fore.RED+'Connexion non établie'+col.Style.RESET_ALL)
    return(con)

def deconX():
    con = con.close()
    if con.is_connected() == True:
        print(col.Fore.GREEN+'Connexion non intérrompue'+col.Style.RESET_ALL)
        print('Compte utilisé : ',con.get_account_ids())
    else:
        print(col.Fore.RED+'Connexion intérrompue'+col.Style.RESET_ALL)
    return()

def determine_bornes(_ticker,laperiod):
    data = con.get_candles(instrument=_ticker,number = 10000,period=laperiod)
    _start = data.index[0]
    _stop = data.index[-1]
    return(_start,_stop)

def scrap_hist(_ticker,laperiod,start, stop):
    print(col.Fore.BLUE,'Scraping des données OHLC pour le ticker',col.Fore.YELLOW,_ticker,col.Style.RESET_ALL)
    data = con.get_candles(instrument=_ticker,number = 10000,period=laperiod)
    df = pd.DataFrame(index=data.index)
    df['Open_Bid'] = data['bidopen']
    df['Open_Ask'] = data['askopen']
    df['Open'] = (data['bidopen']+data['askopen'])/2
    df['High_Bid'] = data['bidhigh']
    df['High_Ask'] = data['askhigh']
    df['High'] = (data['bidhigh']+data['askhigh'])/2
    df['Low_Bid'] = data['bidlow']
    df['Low_Ask'] = data['asklow']
    df['Low'] = (data['bidlow']+data['asklow'])/2
    df['Close_Bid'] = data['bidclose']
    df['Close_Ask'] = data['askclose']
    df['Close'] = (data['bidclose']+data['askclose'])/2
    return(df)

engine.say("functions initiated")
engine.runAndWait()
print('Functions initiated')

Functions initiated

In [6]:
#########################
### CONNEXION A L'API ###
#########################

___Author___='LumberJack Jyss'
print('Global Optimized LumberJack Environment Motor for FOR_EX\nLumberJack Jyss 5780(c)')
print(col.Fore.BLUE,'°0Oo_D.A.G._26_oO0°')
print(col.Fore.YELLOW,col.Back.BLUE,'--- MEGA BASE MAKER FXCM v0.1 ---',col.Style.RESET_ALL)

print('')
engine.say(" Initialisation du Mega Base Maker v0.10")
engine.say("Connexion du Gaulem hà la Péh e")
engine.runAndWait()

try:
    con.is_connected() == True
    
    engine.say("already Connected")
    engine.runAndWait()
    print(col.Fore.GREEN+'Connexion rétablie'+col.Style.RESET_ALL)
    print('Compte utilisé : ',con.get_account_ids())
    print('')
    
except:
    try:
        con = conX()
        con.is_connected() == True
        print(col.Fore.GREEN+'Connexion établie'+col.Style.RESET_ALL)
        print('Compte utilisé : ',con.get_account_ids())
        engine.say("Connected")
        engine.runAndWait()
    except:
        print(col.Fore.RED+'Connexion non établie'+col.Style.RESET_ALL)
        engine.say("Not Connected, sal rass de mor, pitun cé la merd")
        engine.say("vérifi ton internet, é relance le gaulèm")
        engine.runAndWait()
        print('')
        #os._exit(0)
        con = deconX()
        time.sleep(1)
        con = conX()

Global Optimized LumberJack Environment Motor for FOR_EX
LumberJack Jyss 5780(c)
 °0Oo_D.A.G._26_oO0°
  --- MEGA BASE MAKER FXCM v0.1 ---

Connexion établie
Compte utilisé :  [1215060]
Connexion établie
Compte utilisé :  [1215060]

In [8]:
%%time
# Je deterimne les bornes pour 10000 valeurs en daily
_ticker = 'EUR/USD'
_start,_stop = determine_bornes(_ticker,'D1')
_start,_stop

CPU times: user 85.8 ms, sys: 8.51 ms, total: 94.3 ms
Wall time: 1.07 s

(Timestamp('2001-09-09 21:00:00'), Timestamp('2020-09-01 21:00:00'))

In [9]:
%%time
# Je scrape ces bornes en daily
data_D1 = scrap_hist(_ticker,'D1',_start, _stop)
data_D1.head(2)

 Scraping des données OHLC pour le ticker  EUR/USD
CPU times: user 88 ms, sys: 8.21 ms, total: 96.2 ms
Wall time: 797 ms

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2001-09-09 21:00:00,0.9068,0.9072,0.9070,0.9079,0.9083,0.9081,0.8972,0.8976,0.8974,0.8979,0.8983,0.8981
2001-09-10 21:00:00,0.8979,0.8983,0.8981,0.9147,0.9151,0.9149,0.8955,0.8959,0.8957,0.9130,0.9134,0.9132

In [10]:
#verification des bornes et de la timeframe
data_D1.tail(2)

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2020-08-31 21:00:00,1.19348,1.19379,1.193635,1.20104,1.20127,1.201155,1.19002,1.19024,1.19013,1.19087,1.19162,1.191245
2020-09-01 21:00:00,1.19087,1.19162,1.191245,1.19278,1.19299,1.192885,1.18213,1.18231,1.18222,1.18489,1.18512,1.185005

In [11]:
# longueur => Il n'y a même pas 10000 valeurs de dispo en daily
data_D1.shape

(5467, 12)

In [12]:
# Calcul des 10000 valeurs en arrière pour du daily
delta = _stop - _start
delta

Timedelta('6932 days 00:00:00')

In [13]:
# On repart 10000 valeurs en arriere

_stop = _start
_start = _start - dt.timedelta(days=6932, hours=0,minutes=0,seconds=0)
_start,_stop

(Timestamp('1982-09-17 21:00:00'), Timestamp('2001-09-09 21:00:00'))

In [15]:
%time
# On setermine les bornes, et ô surprise!!!! Lei a encore raconté de la m...
_start,_stop = determine_bornes(_ticker,'D1')
_start,_stop

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.96 µs

(Timestamp('2001-09-09 21:00:00'), Timestamp('2020-09-01 21:00:00'))

In [ ]:
#############################################################
#############################################################
#############################################################

In [16]:
%%time
# Je deterimne les bornes pour 10000 valeurs en hourly. Sympa la close à 20H00... ça colle bien avec le 21H00 du daily...
_ticker = 'EUR/USD'
_start,_stop = determine_bornes(_ticker,'H1')
_start,_stop

CPU times: user 110 ms, sys: 9.21 ms, total: 119 ms
Wall time: 954 ms

(Timestamp('2019-02-05 08:00:00'), Timestamp('2020-09-02 20:00:00'))

In [17]:
%%time
# Je scrape ces bornes en hourly
data_H1 = scrap_hist(_ticker,'H1',_start, _stop)
data_H1.head(2)

 Scraping des données OHLC pour le ticker  EUR/USD
CPU times: user 125 ms, sys: 11 ms, total: 136 ms
Wall time: 1.11 s

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2019-02-05 08:00:00,1.14243,1.14258,1.142505,1.14250,1.14265,1.142575,1.14108,1.14123,1.141155,1.14129,1.14144,1.141365
2019-02-05 09:00:00,1.14129,1.14144,1.141365,1.14248,1.14263,1.142555,1.14128,1.14142,1.141350,1.14186,1.14201,1.141935

In [46]:
#verification des bornes et de la timeframe. Tiens, là, ça close à 20H00. Sympa pour être raccord
data_H1.tail(2)

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2020-09-02 19:00:00,1.18239,1.18251,1.18245,1.18464,1.18476,1.184700,1.18230,1.18242,1.18236,1.18456,1.18466,1.18461
2020-09-02 20:00:00,1.18456,1.18466,1.18461,1.18458,1.18469,1.184635,1.18425,1.18437,1.18431,1.18449,1.18461,1.18455

In [18]:
# longueur => ok pour la longueur
data_H1.shape

(10000, 12)

In [19]:
# Calcul des 10000 valeurs en arrière pour du daily
delta = _stop - _start
delta

Timedelta('575 days 12:00:00')

In [20]:
# On repart 10000 valeurs en arriere

_stop = _start
_start = _start - dt.timedelta(days=575, hours=12,minutes=0,seconds=0)
_start,_stop

(Timestamp('2017-07-09 20:00:00'), Timestamp('2019-02-05 08:00:00'))

In [21]:
# On setermine les bornes, ôôôôô!!! ça passe pas non plus.
_start,_stop = determine_bornes(_ticker,'H1')
_start,_stop

(Timestamp('2019-02-05 08:00:00'), Timestamp('2020-09-02 20:00:00'))

In [22]:
%%time
# Je scrape ces bornes en hourly pour vérifier
data_H1 = scrap_hist(_ticker,'H1',_start, _stop)
data_H1.head(2)

 Scraping des données OHLC pour le ticker  EUR/USD
CPU times: user 164 ms, sys: 21.1 ms, total: 185 ms
Wall time: 1.78 s

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2019-02-05 08:00:00,1.14243,1.14258,1.142505,1.14250,1.14265,1.142575,1.14108,1.14123,1.141155,1.14129,1.14144,1.141365
2019-02-05 09:00:00,1.14129,1.14144,1.141365,1.14248,1.14263,1.142555,1.14128,1.14142,1.141350,1.14186,1.14201,1.141935

In [23]:
#verification des bornes et de la timeframe. voilà voilà...
data_H1.tail(2)

,Open_Bid,Open_Ask,Open,High_Bid,High_Ask,High,Low_Bid,Low_Ask,Low,Close_Bid,Close_Ask,Close
date,,,,,,,,,,,,
2020-09-02 19:00:00,1.18239,1.18251,1.18245,1.18464,1.18476,1.18470,1.18230,1.18242,1.18236,1.18456,1.18466,1.18461
2020-09-02 20:00:00,1.18456,1.18466,1.18461,1.18512,1.18524,1.18518,1.18425,1.18437,1.18431,1.18507,1.18519,1.18513