In [1]:
import joblib
import pandas as pd
import colorama as col
from matplotlib import pyplot as plt
import ffn
import numpy as np
import datetime as dt
import fxcmpy
from tqdm import tqdm
import sys
from sklearn.metrics import accuracy_score, make_scorer, precision_score, recall_score, precision_recall_curve, confusion_matrix, classification_report, f1_score
sys.path.append('../') 
import pyttsx3
engine = pyttsx3.init()
from slack_sdk import WebClient
_slack_token = joblib.load('TOKENS/_slack_token.dag')
client = WebClient(token=_slack_token)
import time
import warnings
import talib
#from pycaret.regression import *
from sklearn.linear_model import LinearRegression

In [2]:
df = joblib.load('BASES/EURUSD_m5')
df_H1 = joblib.load('BASES/EURUSD_H1')
df_D1 = joblib.load('BASES/EURUSD_D1')
df_W1 = joblib.load('BASES/EURUSD_W1')
x = 'EUR/USD'
_period = 'm5'
_period2 = 'H1'
_ticker = x.replace('/','')
_start = '2010-01-01' # start the train there '2010-01-01'
_mid = '2016-06-30' # stop the train and begin the test there '2016-08-31'
_stop = '2017-12-31' # stop the test there. After that, it is kept for oos '2017-12-31'
_last = '2021-04-09'

In [3]:
df_D1.dropna()

,Open,High,Low,Close,Symbol,OpenS,HighS,LowS,CloseS,Date,ADR
Lindex,,,,,,,,,,,
2010-04-20,1.348635,1.352270,1.341915,1.342235,EURUSD,1.348781,1.355012,1.343648,1.349788,2010-04-20,0.011005
2010-04-21,1.342235,1.344725,1.335845,1.338805,EURUSD,1.341893,1.347760,1.334891,1.342094,2010-04-21,0.010575
2010-04-22,1.338805,1.342150,1.320215,1.322305,EURUSD,1.338607,1.344625,1.332698,1.339250,2010-04-22,0.010273
2010-04-23,1.322305,1.339970,1.320585,1.337365,EURUSD,1.322204,1.327283,1.312599,1.321542,2010-04-23,0.011027
2010-04-26,1.336275,1.341610,1.329145,1.339475,EURUSD,1.340340,1.346025,1.331834,1.339499,2010-04-26,0.011858
...,...,...,...,...,...,...,...,...,...,...,...
2021-04-19,1.196895,1.204795,1.194250,1.204265,EURUSD,1.198084,1.201362,1.195048,1.198865,2021-04-19,0.005787
2021-04-20,1.204275,1.207980,1.202245,1.203250,EURUSD,1.204283,1.206602,1.199654,1.202243,2021-04-20,0.006092
2021-04-21,1.203245,1.204370,1.199835,1.203730,EURUSD,1.203223,1.205853,1.198488,1.202007,2021-04-21,0.006103
2021-04-22,1.203735,1.206975,1.199370,1.201435,EURUSD,1.203479,1.207186,1.200867,1.204989,2021-04-22,0.005926
2021-04-23,999.000000,999.000000,999.000000,999.000000,999,1.201419,1.204038,1.196893,1.200266,2021-04-23,0.006201

In [4]:
df[['Date'	,'ADR']][df.index=='2021-04-22']

                 Date       ADR
2021-04-22 2021-04-22  0.005926

In [5]:
df[df.index=='2021-04-22 00:00:00']

,Close,CloseAsk,CloseBid,High,HighAsk,HighBid,Low,LowAsk,LowBid,Open,...,HighShift_weekly,LowShift_weekly,CloseShift_weekly,OpenShift_daily,HighShift_daily,LowShift_daily,CloseShift_daily,DateIndex,RSI_2_hourly,RSI_14_hourly
2021-04-22,1.20385,1.20391,1.20379,1.203995,1.20406,1.20393,1.20371,1.20376,1.20366,1.203735,...,1.204795,1.190925,1.196941,1.203479,1.207186,1.200867,1.204989,2021-04-22,85.117875,58.217236

In [10]:
%%time
# Debut de bougie daily
_condition_1 = df['Date'] != df['Date'].shift()

# Amorce
df['HighSlope'] = np.where(_condition_1,df['High'], 10000)

# Fin de bougie daily
_condition_2 = df['Date'] != df['Date'].shift(-1)
# Intérieur de bouige
_condition_3 = (df['Date'] == df['Date'].shift()) & (df['Date'] == df['Date'].shift(-1))
# Condition des highs et low par rapport à la bougie précédente
_condition_4 = df['High'] <= df['HighSlope'].shift(1)
_condition_5 = df['High'] > df['HighSlope'].shift(1)
#_condition_6 = df['Low'] < df['LowSlope'].shift()
#_condition_7 = df['Low'] >= df['LowSlope'].shift()

for i in range(1,len(df)-1):
    
    if (df.Date[i] == df.Date[i-1]) and (df.Date[i] == df.Date[i+1]) and df.High[i] <= df.HighSlope[i-1]:
        df.loc[df.index[i],'HighSlope'] =  df.HighSlope[i-1]
    
    elif (df.Date[i] == df.Date[i-1]) and (df.Date[i] == df.Date[i+1]) and df.High[i] > df.HighSlope[i-1]:
        df.loc[df.index[i],'HighSlope'] =  df.High[i]

CPU times: user 34min 6s, sys: 4min, total: 38min 6s
Wall time: 38min 8s

In [11]:
10000 in df['HighSlope'].tolist()

True

In [12]:
df[['Date','High','HighSlope']][df.HighSlope==10000].shape,df.shape

((2933, 3), (819803, 66))

In [20]:
df[['Date','High','HighSlope']][(df.index>='2021-04-15 23:45:00')&(df.index<='2021-04-16 00:35:00')]

                          Date      High     HighSlope
2021-04-15 23:45:00 2021-04-15  1.197020      1.199325
2021-04-15 23:50:00 2021-04-15  1.197010      1.199325
2021-04-15 23:55:00 2021-04-15  1.196955  10000.000000
2021-04-16 00:00:00 2021-04-16  1.197275      1.197275
2021-04-16 00:05:00 2021-04-16  1.197475      1.197475
2021-04-16 00:10:00 2021-04-16  1.197415      1.197475
2021-04-16 00:15:00 2021-04-16  1.197205      1.197475
2021-04-16 00:20:00 2021-04-16  1.196740      1.197475
2021-04-16 00:25:00 2021-04-16  1.196540      1.197475
2021-04-16 00:30:00 2021-04-16  1.196330      1.197475
2021-04-16 00:35:00 2021-04-16  1.196420      1.197475

In [36]:
%%time
# Debut de bougie daily
_condition_1 = df['Date'] != df['Date'].shift()

# Amorce
df['HighSlope'] = np.where(_condition_1,df['High'], 10000)

# Fin de bougie daily
_condition_2 = df['Date'] != df['Date'].shift(-1)
# Intérieur de bouige
_condition_3 = (df['Date'] == df['Date'].shift()) & (df['Date'] == df['Date'].shift(-1))
# Condition des highs et low par rapport à la bougie précédente
_condition_4 = df['High'] <= df['HighSlope'].shift(1)
_condition_5 = df['High'] > df['HighSlope'].shift(1)
#_condition_6 = df['Low'] < df['LowSlope'].shift()
#_condition_7 = df['Low'] >= df['LowSlope'].shift()

df['HighSlope'] = np.where(_condition_3 & _condition_4,df.HighSlope.shift(1),df.HighSlope)
df['HighSlope'] = np.where(_condition_3 & _condition_5,df.HighSlope,df.HighSlope)
df[['Date','High','HighSlope']][df.HighSlope==10000].shape,df.shape

CPU times: user 67.8 ms, sys: 8.44 ms, total: 76.2 ms
Wall time: 62.1 ms

((815218, 3), (819803, 66))

In [37]:
df[['Date','High','HighSlope']][(df.index>='2021-04-15 23:45:00')&(df.index<='2021-04-16 00:35:00')]

                          Date      High     HighSlope
2021-04-15 23:45:00 2021-04-15  1.197020  10000.000000
2021-04-15 23:50:00 2021-04-15  1.197010  10000.000000
2021-04-15 23:55:00 2021-04-15  1.196955  10000.000000
2021-04-16 00:00:00 2021-04-16  1.197275      1.197275
2021-04-16 00:05:00 2021-04-16  1.197475  10000.000000
2021-04-16 00:10:00 2021-04-16  1.197415  10000.000000
2021-04-16 00:15:00 2021-04-16  1.197205  10000.000000
2021-04-16 00:20:00 2021-04-16  1.196740  10000.000000
2021-04-16 00:25:00 2021-04-16  1.196540  10000.000000
2021-04-16 00:30:00 2021-04-16  1.196330  10000.000000
2021-04-16 00:35:00 2021-04-16  1.196420  10000.000000

In [30]:
2933/819803

0.003577688786208394

In [34]:
df[['Date','High','HighSlope']][df.HighSlope==10000].shape,df.shape

((359815, 3), (819803, 66))

In [5]:
%%time
_flagh = 0
_flagl = 0
val = 0

def fh(row):
    global _flagh, val
   
    if row['High'] < row['DayHigh'] and row['High'] <= row['HighSlope'].shift(1) and _flagh == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        val = row['HighSlope'].shift(1) # np.nan
        _flagh = 0
    
    elif row['High'] < row['DayHigh'] and row['High'] >= row['HighSlope'].shift(1) and _flagh == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        val = row['High'] # 
        _flagh = 0
    
    elif row['High'] >= row['DayHigh'] and row['High'] >= row['HighSlope'].shift(1) and _flagh == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        val = row['DayHigh']
        _flagh = 1
        
    
    #elif _flagh == 1:
     #   val = row['DayHigh']

            
    return(val)

def fl(row):
    global _flagl, val
    
    if row['Low'] > row['DayLow'] and row['Low'] >= row['LowSlope'].shift(1) and _flagl == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        _flagl = 0
        val =  row['LowSlope'].shift(1) # np.nan
    
    elif row['Low'] > row['DayLow'] and row['Low'] <= row['LowSlope'].shift(1) and _flagl == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        val = row['Low']
        _flagl = 0
    
    elif row['Low'] <= row['DayLow'] and row['Low'] <= row['LowSlope'].shift(1) and _flagl == 0 and row['Date'] == row['DateShiftMinus'] and row['Date'] == row['DateShiftPlus']:
        val = row['DayLow']
        _flagl = 1

    #elif _flagh == 1:
     #   val = row['DayLow']

    return(val)

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 10 µs

In [ ]:
%%time
df['DateShiftMinus'] = df.Date.shift(1)
df['DateShiftPlus'] = df.Date.shift(-1)

df['HighShift'] = df.High.shift(1)
df['LowShift'] = df.Low.shift(1)

df['HighSlope'] = np.where(df['Date'] != df['Date'].shift(),df['High'], np.nan)
df['LowSlope'] = np.where(df['Date'] != df['Date'].shift(),df['Low'], np.nan)

df['DayHigh'] = df['High'].groupby(df['Date']).max()
df['DayHigh'].fillna(method='ffill', inplace=True)
df['DayLow'] = df['Low'].groupby(df['Date']).min()
df['DayLow'].fillna(method='ffill', inplace=True)


df['HighSlope'] = df.apply(fh,axis=1)
df['LowSlope'] = df.apply(fl,axis=1)

#df['ADR_High'] = df.LowSlope + df.ADR
#df['ADR_Low'] = df.HighSlope - df.ADR

df[['Date','DateShiftMinus','DateShiftPlus','High','Low','HighShift','LowShift','DayLow','DayHigh','HighSlope','LowSlope','ADR_High','ADR_Low']][(df.index>='2021-04-19 23:50:00')&(df.index<='2021-04-20 02:10:00')]

In [13]:
%%time

df['ADR_High'] = df.Low + df.ADR
df['ADR_Low'] = df.High - df.ADR

# Intérieur de bouige
_condition_1 = (df['Date'] == df['Date'].shift(1)) & (df['Date'] == df['Date'].shift(-1))
_condition_2 = df.ADR_High >= df.ADR_High.shift(1)
_condition_3 = df.ADR_Low <= df.ADR_Low.shift(1)

df['ADR_High'] = np.where(_condition_1 & _condition_2,df.ADR_High.shift(1),df.ADR_High.shift(1))
#df['ADR_Low'] = np.where(_condition_1 & _condition_3,df.ADR_Low.shift(1),df.ADR_Low.shift(1))

df[['Date','High','Low','ADR','ADR_High','ADR_Low']][(df.index>='2021-04-19 23:50:00')&(df.index<='2021-04-20 02:10:00')]

CPU times: user 63.9 ms, sys: 15.6 ms, total: 79.5 ms
Wall time: 58.3 ms

,Date,High,Low,ADR,ADR_High,ADR_Low
2021-04-19 23:50:00,2021-04-19,1.204320,1.204105,0.005787,1.210007,1.198533
2021-04-19 23:55:00,2021-04-19,1.204370,1.204165,0.005787,1.209892,1.198583
2021-04-20 00:00:00,2021-04-20,1.204420,1.204165,0.006092,1.209952,1.198327
2021-04-20 00:05:00,2021-04-20,1.204525,1.204295,0.006092,1.210257,1.198433
2021-04-20 00:10:00,2021-04-20,1.204465,1.204280,0.006092,1.210387,1.198373
2021-04-20 00:15:00,2021-04-20,1.204555,1.204380,0.006092,1.210373,1.198463
2021-04-20 00:20:00,2021-04-20,1.204515,1.204290,0.006092,1.210472,1.198422
2021-04-20 00:25:00,2021-04-20,1.204410,1.204280,0.006092,1.210382,1.198317
2021-04-20 00:30:00,2021-04-20,1.204360,1.204250,0.006092,1.210373,1.198268
2021-04-20 00:35:00,2021-04-20,1.204370,1.204250,0.006092,1.210342,1.198278
2021-04-20 00:40:00,2021-04-20,1.204305,1.204130,0.006092,1.210342,1.198212
2021-04-20 00:45:00,2021-04-20,1.204170,1.204030,0.006092,1.210222,1.198078
2021-04-20 00:50:00,2021-04-20,1.204165,1.203815,0.006092,1.210122,1.198072
2021-04-20 00:55:00,2021-04-20,1.204105,1.203905,0.006092,1.209907,1.198012
2021-04-20 01:00:00,2021-04-20,1.203965,1.203740,0.006092,1.209998,1.197872
2021-04-20 01:05:00,2021-04-20,1.204015,1.203780,0.006092,1.209833,1.197923
2021-04-20 01:10:00,2021-04-20,1.203885,1.203750,0.006092,1.209872,1.197793
2021-04-20 01:15:00,2021-04-20,1.203970,1.203750,0.006092,1.209842,1.197878
2021-04-20 01:20:00,2021-04-20,1.203990,1.203775,0.006092,1.209842,1.197898
2021-04-20 01:25:00,2021-04-20,1.204195,1.203935,0.006092,1.209868,1.198103
2021-04-20 01:30:00,2021-04-20,1.204775,1.204130,0.006092,1.210027,1.198682
2021-04-20 01:35:00,2021-04-20,1.204565,1.204265,0.006092,1.210222,1.198473
2021-04-20 01:40:00,2021-04-20,1.204315,1.204185,0.006092,1.210357,1.198222
2021-04-20 01:45:00,2021-04-20,1.204515,1.204210,0.006092,1.210278,1.198422
2021-04-20 01:50:00,2021-04-20,1.204770,1.204275,0.006092,1.210303,1.198678
2021-04-20 01:55:00,2021-04-20,1.204745,1.204410,0.006092,1.210367,1.198653
2021-04-20 02:00:00,2021-04-20,1.204575,1.204370,0.006092,1.210503,1.198482
2021-04-20 02:05:00,2021-04-20,1.204545,1.204365,0.006092,1.210462,1.198453
2021-04-20 02:10:00,2021-04-20,1.204530,1.204410,0.006092,1.210457,1.198438

In [26]:
1.204165+	0.006092

1.210257

In [4]:
df[['HighSlope'	,'LowSlope']].shape,df[['HighSlope'	,'LowSlope']].dropna().shape

((819949, 2), (2933, 2))

In [5]:
df[['Date','DateShiftMinus','DateShiftPlus','High','Low','HighShift','LowShift','DayLow','DayHigh','HighSlope','LowSlope','ADR_High','ADR_Low']].head(60)

,Date,DateShiftMinus,DateShiftPlus,High,Low,HighShift,LowShift,DayLow,DayHigh,HighSlope,LowSlope,ADR_High,ADR_Low
2010-01-04 00:00:00,2010-01-04,NaT,2010-01-04,1.431640,1.430370,NaN,NaN,1.42577,1.44556,1.43164,1.43037,NaN,NaN
2010-01-04 00:05:00,2010-01-04,2010-01-04,2010-01-04,1.431130,1.429600,1.431640,1.430370,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:10:00,2010-01-04,2010-01-04,2010-01-04,1.430840,1.429050,1.431130,1.429600,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:15:00,2010-01-04,2010-01-04,2010-01-04,1.430270,1.428970,1.430840,1.429050,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:20:00,2010-01-04,2010-01-04,2010-01-04,1.431210,1.429920,1.430270,1.428970,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:25:00,2010-01-04,2010-01-04,2010-01-04,1.432020,1.431015,1.431210,1.429920,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:30:00,2010-01-04,2010-01-04,2010-01-04,1.431590,1.431030,1.432020,1.431015,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:35:00,2010-01-04,2010-01-04,2010-01-04,1.431160,1.430570,1.431590,1.431030,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:40:00,2010-01-04,2010-01-04,2010-01-04,1.430760,1.429605,1.431160,1.430570,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:45:00,2010-01-04,2010-01-04,2010-01-04,1.430725,1.429960,1.430760,1.429605,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:50:00,2010-01-04,2010-01-04,2010-01-04,1.429990,1.429325,1.430725,1.429960,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 00:55:00,2010-01-04,2010-01-04,2010-01-04,1.429505,1.428865,1.429990,1.429325,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:00:00,2010-01-04,2010-01-04,2010-01-04,1.428945,1.426760,1.429505,1.428865,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:05:00,2010-01-04,2010-01-04,2010-01-04,1.427990,1.426955,1.428945,1.426760,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:10:00,2010-01-04,2010-01-04,2010-01-04,1.428865,1.427640,1.427990,1.426955,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:15:00,2010-01-04,2010-01-04,2010-01-04,1.428410,1.427465,1.428865,1.427640,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:20:00,2010-01-04,2010-01-04,2010-01-04,1.428150,1.427710,1.428410,1.427465,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:25:00,2010-01-04,2010-01-04,2010-01-04,1.428615,1.428020,1.428150,1.427710,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:30:00,2010-01-04,2010-01-04,2010-01-04,1.428155,1.427300,1.428615,1.428020,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:35:00,2010-01-04,2010-01-04,2010-01-04,1.427480,1.426615,1.428155,1.427300,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:40:00,2010-01-04,2010-01-04,2010-01-04,1.426970,1.425770,1.427480,1.426615,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:45:00,2010-01-04,2010-01-04,2010-01-04,1.426765,1.425970,1.426970,1.425770,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:50:00,2010-01-04,2010-01-04,2010-01-04,1.427215,1.426420,1.426765,1.425970,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 01:55:00,2010-01-04,2010-01-04,2010-01-04,1.427370,1.426885,1.427215,1.426420,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:00:00,2010-01-04,2010-01-04,2010-01-04,1.427905,1.427050,1.427370,1.426885,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:05:00,2010-01-04,2010-01-04,2010-01-04,1.428450,1.427770,1.427905,1.427050,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:10:00,2010-01-04,2010-01-04,2010-01-04,1.428925,1.427870,1.428450,1.427770,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:15:00,2010-01-04,2010-01-04,2010-01-04,1.428915,1.428370,1.428925,1.427870,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:20:00,2010-01-04,2010-01-04,2010-01-04,1.428810,1.428430,1.428915,1.428370,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:25:00,2010-01-04,2010-01-04,2010-01-04,1.428690,1.427945,1.428810,1.428430,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:30:00,2010-01-04,2010-01-04,2010-01-04,1.428245,1.427820,1.428690,1.427945,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:35:00,2010-01-04,2010-01-04,2010-01-04,1.428485,1.427900,1.428245,1.427820,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:40:00,2010-01-04,2010-01-04,2010-01-04,1.428590,1.428320,1.428485,1.427900,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:45:00,2010-01-04,2010-01-04,2010-01-04,1.428625,1.428470,1.428590,1.428320,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:50:00,2010-01-04,2010-01-04,2010-01-04,1.429320,1.428620,1.428625,1.428470,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 02:55:00,2010-01-04,2010-01-04,2010-01-04,1.429995,1.429070,1.429320,1.428620,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:00:00,2010-01-04,2010-01-04,2010-01-04,1.429760,1.429370,1.429995,1.429070,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:05:00,2010-01-04,2010-01-04,2010-01-04,1.429380,1.428765,1.429760,1.429370,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:10:00,2010-01-04,2010-01-04,2010-01-04,1.428970,1.428865,1.429380,1.428765,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:15:00,2010-01-04,2010-01-04,2010-01-04,1.429220,1.428885,1.428970,1.428865,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:20:00,2010-01-04,2010-01-04,2010-01-04,1.429065,1.428450,1.429220,1.428885,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:25:00,2010-01-04,2010-01-04,2010-01-04,1.428515,1.427965,1.429065,1.428450,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:30:00,2010-01-04,2010-01-04,2010-01-04,1.428590,1.428110,1.428515,1.427965,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:35:00,2010-01-04,2010-01-04,2010-01-04,1.428510,1.428030,1.428590,1.428110,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:40:00,2010-01-04,2010-01-04,2010-01-04,1.428030,1.427220,1.428510,1.428030,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:45:00,2010-01-04,2010-01-04,2010-01-04,1.427680,1.427245,1.428030,1.427220,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:50:00,2010-01-04,2010-01-04,2010-01-04,1.427930,1.427400,1.427680,1.427245,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 03:55:00,2010-01-04,2010-01-04,2010-01-04,1.428610,1.427680,1.427930,1.427400,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:00:00,2010-01-04,2010-01-04,2010-01-04,1.428800,1.428300,1.428610,1.427680,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:05:00,2010-01-04,2010-01-04,2010-01-04,1.429020,1.428770,1.428800,1.428300,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:10:00,2010-01-04,2010-01-04,2010-01-04,1.429010,1.428620,1.429020,1.428770,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:15:00,2010-01-04,2010-01-04,2010-01-04,1.429290,1.428770,1.429010,1.428620,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:20:00,2010-01-04,2010-01-04,2010-01-04,1.429290,1.428960,1.429290,1.428770,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:25:00,2010-01-04,2010-01-04,2010-01-04,1.429160,1.428840,1.429290,1.428960,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:30:00,2010-01-04,2010-01-04,2010-01-04,1.429160,1.428655,1.429160,1.428840,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:35:00,2010-01-04,2010-01-04,2010-01-04,1.429695,1.428670,1.429160,1.428655,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:40:00,2010-01-04,2010-01-04,2010-01-04,1.429890,1.429550,1.429695,1.428670,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:45:00,2010-01-04,2010-01-04,2010-01-04,1.429580,1.429365,1.429890,1.429550,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:50:00,2010-01-04,2010-01-04,2010-01-04,1.429470,1.428970,1.429580,1.429365,1.42577,1.44556,NaN,NaN,NaN,NaN
2010-01-04 04:55:00,2010-01-04,2010-01-04,2010-01-04,1.429320,1.428870,1.429470,1.428970,1.42577,1.44556,NaN,NaN,NaN,NaN

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 819803 entries, 2010-01-04 00:00:00 to 2021-04-23 08:40:00
Data columns (total 71 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Close              819803 non-null  float64
 1   CloseAsk           819803 non-null  float64
 2   CloseBid           819803 non-null  float64
 3   High               819803 non-null  float64
 4   HighAsk            819803 non-null  float64
 5   HighBid            819803 non-null  float64
 6   Low                819803 non-null  float64
 7   LowAsk             819803 non-null  float64
 8   LowBid             819803 non-null  float64
 9   Open               819803 non-null  float64
 10  OpenAsk            819803 non-null  float64
 11  OpenBid            819803 non-null  float64
 12  Symbol             819803 non-null  object
 13  Date               819803 non-null  datetime64[ns]
 14  ADR                815852 non-null  float64
 15  DayHigh            819803 non-null  float64
 16  DayLow             819803 non-null  float64
 17  ADR_High           815852 non-null  float64
 18  ADR_Low            815852 non-null  float64
 19  SMA_200            819604 non-null  float64
 20  UpperBand          819784 non-null  float64
 21  LowerBand          819784 non-null  float64
 22  slow_K5            819797 non-null  float64
 23  slow_D5            819795 non-null  float64
 24  EMA_21             819803 non-null  float64
 25  EMA_8              819803 non-null  float64
 26  PP                 818398 non-null  float64
 27  S38                818398 non-null  float64
 28  S62                818398 non-null  float64
 29  S78                818398 non-null  float64
 30  S100               818398 non-null  float64
 31  S138               818398 non-null  float64
 32  S162               818398 non-null  float64
 33  S178               818398 non-null  float64
 34  S200               818398 non-null  float64
 35  R38                818398 non-null  float64
 36  R62                818398 non-null  float64
 37  R78                818398 non-null  float64
 38  R100               818398 non-null  float64
 39  R138               818398 non-null  float64
 40  R162               818398 non-null  float64
 41  R178               818398 non-null  float64
 42  R200               818398 non-null  float64
 43  prev_close         819802 non-null  float64
 44  TR                 819802 non-null  float64
 45  ATR_14             819789 non-null  float64
 46  RVI                819789 non-null  float64
 47  SB_Gamma           819802 non-null  float64
 48  ONHISMA_5          819799 non-null  float64
 49  ONLOSMA_5          819799 non-null  float64
 50  ONHISMA_21         819783 non-null  float64
 51  ONLOSMA_21         819783 non-null  float64
 52  ONHISMA_34         819770 non-null  float64
 53  ONLOSMA_34         819770 non-null  float64
 54  OpenShift_weekly   713741 non-null  float64
 55  HighShift_weekly   713741 non-null  float64
 56  LowShift_weekly    713741 non-null  float64
 57  CloseShift_weekly  713741 non-null  float64
 58  OpenShift_daily    798530 non-null  float64
 59  HighShift_daily    798530 non-null  float64
 60  LowShift_daily     798530 non-null  float64
 61  CloseShift_daily   798530 non-null  float64
 62  DateIndex          819803 non-null  datetime64[ns]
 63  RSI_2_hourly       819767 non-null  float64
 64  RSI_14_hourly      819623 non-null  float64
 65  HighSlope          819803 non-null  float64
 66  DateShiftMinus     819802 non-null  datetime64[ns]
 67  DateShiftPlus      819802 non-null  datetime64[ns]
 68  HighShift          819802 non-null  float64
 69  LowShift           819802 non-null  float64
 70  LowSlope           819803 non-null  float64
dtypes: datetime64[ns](4), float64(66), object(1)
memory usage: 482.6+ MB