# RELEVE POUR LE COMPTE 28 DU 3 OCTOBRE AU 8 NOVEMBRE 2019

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('pnl.csv')

In [12]:
df

,Symbole,Quantité,Mult,Coût,Coût d'acquisition,Prix de clôture,Valeur,P/L Non-Réalisé,P&L non réalisé %,Code
0,A,-132.0,1.0,76.010732,-10033.416575,76.64,-10116.48,-83.063425,-0.83,NaN
1,ABC,-123.0,1.0,81.681930,-10046.877368,86.07,-10586.61,-539.732632,-5.37,NaN
2,ABMD,54.0,1.0,183.138519,9889.480000,219.62,11859.48,1970.000000,19.92,NaN
3,ACN,52.0,1.0,193.359231,10054.680000,189.70,9864.40,-190.280000,-1.89,NaN
4,ADBE,4.0,1.0,282.070000,1128.280000,292.46,1169.84,41.560000,3.68,NaN
...,...,...,...,...,...,...,...,...,...,...
235,XEL,155.0,1.0,64.736452,10034.150000,60.08,9312.40,-721.750000,-7.19,NaN
236,XRAY,187.0,1.0,53.575348,10018.590000,57.42,10737.54,718.950000,7.18,NaN
237,XRX,-294.0,1.0,34.134174,-10035.447244,38.85,-11421.90,-1386.452756,-13.82,NaN
238,ZBH,-70.0,1.0,142.912637,-10003.884564,144.00,-10080.00,-76.115436,-0.76,NaN
239,NaN,NaN,NaN,NaN,-158476.048872,NaN,-175614.34,-17138.291129,NaN,NaN

In [33]:
df.shape

(240, 10)

In [32]:
len(df['Symbole'].unique())

240

In [24]:
df.iloc[:-1,7].max() # Gain maximal pour un ticker en $

3941.54

In [25]:
df.iloc[:-1,7].min() # Perte maximal pour un ticker en $

-2528.1

In [26]:
df1 = pd.read_csv('transactions.csv')

In [27]:
df1

,Symbole,Date/Heure,Quantité,Prix Trans.,Produit,Comm/Tarif,Base,P/L Réalisé,% P&L réalisé,Code
0,A,"2019-10-03, 09:30:05",136.0,73.50,-9996.00,-1.00,9997.00,0.00,0.00,O;P
1,A,"2019-10-04, 09:30:25",-136.0,74.06,10072.16,-1.22,-9997.00,73.94,0.74,C;P
2,A,"2019-10-11, 09:31:06",-135.0,75.50,10192.50,-1.23,-10191.27,0.00,0.00,O;P
3,A,"2019-10-17, 09:34:05",135.0,75.42,-10181.70,-1.00,10191.27,8.57,0.08,C;P
4,A,"2019-10-21, 09:35:26",134.0,74.72,-10012.48,-1.00,10013.48,0.00,0.00,O;P
...,...,...,...,...,...,...,...,...,...,...
752,XRX,"2019-10-31, 09:30:19",-294.0,34.14,10037.16,-1.71,-10035.45,0.00,0.00,O;P
753,ZBH,"2019-10-04, 09:30:27",-9.0,133.55,1201.95,-1.03,-1258.21,-57.29,-4.55,C
754,ZBH,"2019-10-14, 09:31:40",-73.0,136.17,9940.41,-1.21,-9939.20,0.00,0.00,O
755,ZBH,"2019-10-31, 09:30:18",73.0,138.20,-10088.60,-1.00,9939.20,-150.40,-1.51,C
756,ZBH,"2019-11-07, 09:31:32",-70.0,142.93,10005.10,-1.22,-10003.88,0.00,0.00,O

In [28]:
df1.shape # 757 transactions réalisées sur la période

(757, 10)

In [30]:
len(df1['Symbole'].unique()) # 256 tickers différents

256

In [34]:
df['Quantité'].sum()

-3356.0

In [38]:
df1['Code'].unique()

array(['O;P', 'C;P', 'O', 'C'], dtype=object)

In [66]:
BALANCE = []
for foo,bar in enumerate(df1['Symbole']):
    BALANCE.append((bar,df1[df1['Symbole'] == bar]['Quantité'].sum()))
BALANCE = set(BALANCE)

0      136.0
1     -136.0
2     -135.0
3      135.0
4      134.0
       ...
752   -294.0
753     -9.0
754    -73.0
755     73.0
756    -70.0
Name: Quantité, Length: 757, dtype: float64