In [1]:
def clearall():
    all = [var for var in globals() if var[0] != "_"]
    for var in all:
        del globals()[var]
clearall()

In [3]:
print('Importing Librairies...')
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import pandas_datareader as web
from colorama import Fore, Back, Style
import time
import datetime as dt
import os
print('Librairies imported')
print('')

___Author___='LumberJack Jyss'
print('Global Optimized LumberJack Environment Motor 55\nLumberJack Jyss 5779(c)')
print(Fore.BLUE,'°0Oo_D.A.G._26_oO0°')
print(Fore.YELLOW,Back.BLUE,'LaBase Version v0.55',Style.RESET_ALL)

print('')

print('Sraping tickers')
constituents = pd.read_csv('New.csv')
print('shape : ',constituents.shape)
constituents = constituents.drop_duplicates(['Symbol'])
try:
    constituents = constituents.drop(['Unnamed: 0'],axis=1)
except:
    pass
print('shape : ',constituents.shape)    
print('Scrap -----> ok')

today = str(dt.date.today())[:5]+str(dt.date.today())[5:7]+str(dt.date.today())[7:10]
startday = str(dt.date.today()-dt.timedelta(3000))[:5]+str(dt.date.today()-dt.timedelta(3000))[5:7]+str(dt.date.today()-dt.timedelta(1190))[7:10]
yesterday = str(dt.date.today()-dt.timedelta(1))[:5]+str(dt.date.today()-dt.timedelta(1))[5:7]+str(dt.date.today()-dt.timedelta(1))[7:10]
stamp = input("Enter the date (YYYY-MM-DD): ")

start = startday
end = stamp
print('Date et heure actuelle : ',time.strftime("%d/%m/%Y %H:%M:%S", time.localtime()))
print('La date scrapée est : ', stamp)


print(Fore.YELLOW,'ON GENERE LaBase',Style.RESET_ALL)
tmps55=time.time()
LaBase = pd.DataFrame()
df = pd.DataFrame()
BADTICKER = []
for loop in range(0, len(constituents)):
    
    #for loop in range(0, 2):
    if loop == 1:
        print('\r',Fore.GREEN,' |==',Fore.BLUE,'O',Fore.RED,'==================|',end='',flush=True)
    if loop == 50:
        print('\r',Fore.GREEN,' |====',Fore.BLUE,'O',Fore.RED,'================|',end='',flush=True)
    if loop == 100:
        print('\r',Fore.GREEN,' |======',Fore.BLUE,'O',Fore.RED,'==============|',end='',flush=True)
    if loop == 150:
        print('\r',Fore.GREEN,' |========',Fore.BLUE,'O',Fore.RED,'============|',end='',flush=True)
    if loop == 200:
        print('\r',Fore.GREEN,' |==========',Fore.BLUE,'O',Fore.RED,'==========|',end='',flush=True)
    if loop == 250:
        print('\r',Fore.GREEN,' |============',Fore.BLUE,'O',Fore.RED,'========|',end='',flush=True)
    if loop == 300:
        print('\r',Fore.GREEN,' |==============',Fore.BLUE,'O',Fore.RED,'======|',end='',flush=True)
    if loop == 350:
        print('\r',Fore.GREEN,' |================',Fore.BLUE,'O',Fore.RED,'====|',end='',flush=True)
    if loop == 400:
        print('\r',Fore.GREEN,' |==================',Fore.BLUE,'O',Fore.RED,'==|',end='',flush=True)

    #try:
    ticker = (constituents.iloc[loop]['Symbol'])
    try:
        df = web.DataReader(ticker,'yahoo',startday,end)
        df['Date'] = df.index
        df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
    except:
        BADTICKER.append(ticker)
        continue
    df['Symbol'] = ticker
    df = df[['Date','Symbol','High','Low','Open','Close','Volume','Adj Close']]
    LaBase = pd.concat((LaBase,df),ignore_index=False)
    LaBase = LaBase.drop_duplicates()
    
tmps22=round(time.time()-tmps55,2)
print(Fore.BLUE,"Time for completing LaBase Generation = %f" %tmps22,'seconds \n',Style.RESET_ALL)
print(LaBase.tail())

print('Il y a ',len(BADTICKER),' mauvais tickers')
print('Les voici')
print(BADTICKER)

#LaBase[LaBase.duplicated()].shape

print('Base générée : ',LaBase.shape)
print('Il y a ',LaBase[LaBase.duplicated()].shape,' Duplicats')
LaBase = LaBase.drop_duplicates()
print('Base déclonée : ',LaBase.shape)
###########################################################
############## SI BESOIN DE RETIRER LA DATE DU JOUR #######
##
#  LaBase = LaBase[LaBase.index != '2019-09-18 00:00:00'] #
##
###########################################################

LaBase = LaBase.drop(['Date'],axis=1)

LaBase_adj = LaBase
LaBase_adj = LaBase_adj.drop(['Close'],axis=1)
LaBase_adj['Close'] = LaBase_adj['Adj Close']
LaBase_adj = LaBase_adj.drop(['Adj Close'],axis = 1)


LaBase_cloz = LaBase
LaBase_cloz = LaBase_cloz.drop(['Adj Close'], axis=1)
LaBase_cloz = LaBase_cloz[['High', 'Low', 'Open', 'Volume', 'Close']]

LaBase_adj.to_csv('LaBase_adj.csv')
LaBase_cloz.to_csv('LaBase_cloz.csv')
LaBase.to_csv('LaBase.csv')

Importing Librairies...
Librairies imported

Global Optimized LumberJack Environment Motor 55
LumberJack Jyss 5779(c)
 °0Oo_D.A.G._26_oO0°
  LaBase Version v0.55

Sraping tickers
shape :  (505, 4)
shape :  (505, 3)
Scrap -----> ok

Enter the date (YYYY-MM-DD):  2019-11-27

Date et heure actuelle :  28/11/2019 22:56:10
La date scrapée est :  2019-11-27
 ON GENERE LaBase
 Time for completing LaBase Generation = 782.300000 seconds

                  Date Symbol        High         Low        Open       Close  \
Date
2019-11-21  2019-11-21    ZTS  121.070000  119.389999  119.860001  120.220001
2019-11-22  2019-11-22    ZTS  121.059998  119.180000  120.410004  119.809998
2019-11-25  2019-11-25    ZTS  121.970001  120.000000  120.739998  120.610001
2019-11-26  2019-11-26    ZTS  122.000000  120.250000  120.910004  121.889999
2019-11-27  2019-11-27    ZTS  122.919998  120.940002  122.139999  121.629997

               Volume   Adj Close
Date
2019-11-21  1654500.0  120.220001
2019-11-22  1627700.0  119.809998
2019-11-25  1774400.0  120.610001
2019-11-26  3688700.0  121.889999
2019-11-27  1443300.0  121.629997
Il y a  3  mauvais tickers
Les voici
['BF.B', 'BRK.B', 'TSS']
Base générée :  (1008573, 8)
Il y a  (0, 8)  Duplicats
Base déclonée :  (1008573, 8)

In [3]:
LaBase.shape

(1008075, 7)

In [4]:
LaBase = LaBase.drop_duplicates()

In [5]:
LaBase.shape

(1006877, 7)

In [6]:
1008075 - 1006877

1198

In [7]:
LaBase_adj.shape

(1008075, 6)

In [8]:
test = LaBase_adj

In [9]:
doublon = test[test.duplicated() == True]

In [11]:
doublon = doublon.sort_values('Date')
doublon

           Symbol        High         Low        Open  Volume       Close
Date
2012-05-16   AMCR    7.700000    7.700000    7.700000     0.0    6.067985
2012-05-17   AMCR    7.700000    7.700000    7.700000     0.0    6.067985
2012-05-18   AMCR    7.700000    7.700000    7.700000     0.0    6.067985
2012-05-21   AMCR    7.700000    7.700000    7.700000     0.0    6.067985
2012-05-22   AMCR    7.700000    7.700000    7.700000     0.0    6.067985
...           ...         ...         ...         ...     ...         ...
2019-06-05   AMCR   11.150000   11.150000   11.150000     0.0   10.888330
2019-06-06   AMCR   11.150000   11.150000   11.150000     0.0   10.888330
2019-06-07   AMCR   11.150000   11.150000   11.150000     0.0   10.888330
2019-06-10   AMCR   11.150000   11.150000   11.150000     0.0   10.888330
2019-11-25   CELG  108.239998  108.239998  108.239998     0.0  108.239998

[1198 rows x 6 columns]

In [13]:
doublon[doublon['Symbol']!='AMCR']

           Symbol        High         Low        Open  Volume       Close
Date
2014-06-12   NKTR   12.540000   12.540000   12.540000     0.0   12.540000
2016-03-29     UA   40.582272   40.582272   40.582272     0.0   40.582272
2019-11-25   CELG  108.239998  108.239998  108.239998     0.0  108.239998