In [48]:
___Author___='LumberJack Jyss'

In [49]:
print('LumberJack BRUTAL_60 PREPARATION\nLumberJack Jyss (c)')

LumberJack BRUTAL_60 PREPARATION
LumberJack Jyss (c)

In [50]:
print('Importation des librairies...')
import numpy as np
import pandas as pd
from yahoofinancials import YahooFinancials
import pandas_datareader as web
from keras.utils import normalize
print('Librairies importées')

Importation des librairies...
Librairies importées

In [51]:
# PARAMETRES TEMPORELS INITIAUX
print('PARAMETRES TEMPORELS INITIAUX')
start = pd.to_datetime('2004-11-29')
end = pd.to_datetime('2019-03-01')
delta = round((end-start).days)
bloc1 = round(delta*0.8)
bloc2 = delta - bloc1
print("Période d'étude : ",delta)
print('Sur un découpage 80% - 20% de la période : ')
print('Bloc 1 : ',bloc1,' jours \nBloc 2 :',bloc2,' jours')
print('Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés')

PARAMETRES TEMPORELS INITIAUX
Période d'étude :  5205
Sur un découpage 80% - 20% de la période :
Bloc 1 :  4164  jours
Bloc 2 : 1041  jours
Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés

In [52]:
print('Scraping des données')
spy = web.DataReader('SPY','yahoo',start,end)
tlt = web.DataReader('TLT','yahoo',start,end)
vix = web.DataReader('^VIX','yahoo',start,end)
gld = web.DataReader('GLD','yahoo',start,end)
#eurostoxx = web.DataReader('^STOXX50E','yahoo',start,end)
#nikkei = web.DataReader('^N225','yahoo',start,end)
currencies = ['EURJPY=X', 'GBPJPY=X', 'USDJPY=X',]
daily_currency_prices = YahooFinancials(currencies).get_historical_price_data(start.strftime('%Y-%m-%d')\
                                                                              , end.strftime('%Y-%m-%d'), 'daily')
temp_df = pd.DataFrame.from_dict(daily_currency_prices.values()).T

Scraping des données

In [53]:
eurjpy = pd.DataFrame.from_dict(temp_df.iloc[4,0])
eurjpy = eurjpy.set_index('formatted_date')
eurjpy = eurjpy.drop(['date','volume'],axis=1)

gbpjpy = pd.DataFrame.from_dict(temp_df.iloc[4,1])
gbpjpy = gbpjpy.set_index('formatted_date')
gbpjpy = gbpjpy.drop(['date','volume'],axis=1)

usdjpy = pd.DataFrame.from_dict(temp_df.iloc[4,2])
usdjpy = usdjpy.set_index('formatted_date')
usdjpy = usdjpy.drop(['date','volume'],axis=1)

print('Scraping des données brutes effectué\n')

Scraping des données brutes effectué

In [54]:
# TRAITEMENT DES DONNEES BRUTES
spy = spy.drop(['Adj Close','Volume'],axis = 1)
spy.columns = ['Open_spy','High_spy','Low_spy','SPY']

vix = vix.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)
vix.columns = ['vix']

tlt = tlt.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)
tlt.columns = ['tlt']

gld = gld.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)
gld.columns = ['gold']

eurjpy = eurjpy.drop(['open','high','low','adjclose'],axis = 1)
eurjpy.columns = ['eur/usd']

gbpjpy = gbpjpy.drop(['open','high','low','adjclose'],axis = 1)
gbpjpy.columns = ['gpb/usd']

usdjpy = usdjpy.drop(['open','high','low','adjclose'],axis = 1)
usdjpy.columns = ['usd/jpy']

print('DONNEES BRUTES TRAITEES')

DONNEES BRUTES TRAITEES

In [55]:
toto = pd.concat((eurjpy,gbpjpy,usdjpy),axis=1)
titi = pd.concat((tlt,vix,gld,spy),axis=1)
raw_dataset = pd.merge(toto, titi,left_index=True,right_index=True)

In [56]:
raw_dataset.head()

,eur/usd,gpb/usd,usd/jpy,tlt,vix,gold,Open_spy,High_spy,Low_spy,SPY
2004-11-29,136.580002,194.910004,103.029999,87.309998,13.30,45.400002,119.010002,117.480003,118.790001,117.809998
2004-11-30,136.830002,196.490005,102.900002,86.940002,13.24,45.119999,118.239998,117.639999,118.000000,117.889999
2004-12-01,136.820007,198.139999,102.510002,86.449997,12.97,45.380001,119.500000,118.099998,118.160004,119.230003
2004-12-02,136.690002,198.330002,103.099998,86.099998,12.98,44.950001,119.870003,119.010002,119.099998,119.330002
2004-12-03,137.440002,198.369995,102.089996,87.440002,12.96,45.599998,120.139999,119.089996,119.309998,119.250000

In [57]:
raw_dataset.tail()

,eur/usd,gpb/usd,usd/jpy,tlt,vix,gold,Open_spy,High_spy,Low_spy,SPY
2019-02-25,125.632004,144.714005,110.772003,121.209999,14.85,125.370003,281.309998,279.429993,280.730011,279.519989
2019-02-26,126.206001,145.761002,111.045998,121.809998,15.17,125.580002,280.299988,278.899994,279.130005,279.320007
2019-02-27,125.930000,146.561005,110.556000,120.430000,14.70,124.690002,279.589996,277.480011,278.519989,279.200012
2019-02-28,126.155998,147.636002,110.862000,120.019997,14.78,123.989998,279.450012,278.320007,278.959991,278.679993
2019-03-01,126.646004,147.703995,111.357002,118.660004,13.57,121.879997,280.880005,278.820007,280.440002,280.420013

In [58]:
raw_dataset = raw_dataset.dropna()

In [59]:
raw_dataset.isnull().sum()

eur/usd     0
gpb/usd     0
usd/jpy     0
tlt         0
vix         0
gold        0
Open_spy    0
High_spy    0
Low_spy     0
SPY         0
dtype: int64

In [60]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3149 entries, 2004-11-29 to 2019-03-01
Data columns (total 10 columns):
eur/usd     3149 non-null float64
gpb/usd     3149 non-null float64
usd/jpy     3149 non-null float64
tlt         3149 non-null float64
vix         3149 non-null float64
gold        3149 non-null float64
Open_spy    3149 non-null float64
High_spy    3149 non-null float64
Low_spy     3149 non-null float64
SPY         3149 non-null float64
dtypes: float64(10)
memory usage: 270.6 KB

In [61]:
normalized_dataset = normalize(raw_dataset.iloc[:,:-4], axis=-1, order=2)

In [62]:
normalized_dataset.head()

             eur/usd   gpb/usd   usd/jpy       tlt       vix      gold
2004-11-29  0.491816  0.701859  0.371005  0.314398  0.047892  0.163483
2004-11-30  0.490910  0.704955  0.369178  0.311918  0.047502  0.161879
2004-12-01  0.489303  0.708599  0.366602  0.309167  0.046384  0.162290
2004-12-02  0.488644  0.708997  0.368565  0.307793  0.046401  0.160689
2004-12-03  0.490370  0.707761  0.364245  0.311976  0.046240  0.162696

In [63]:
normalized_dataset = pd.concat((normalized_dataset,raw_dataset.iloc[:,-4:]),axis=1)

In [64]:
normalized_dataset.head()

,eur/usd,gpb/usd,usd/jpy,tlt,vix,gold,Open_spy,High_spy,Low_spy,SPY
2004-11-29,0.491816,0.701859,0.371005,0.314398,0.047892,0.163483,119.010002,117.480003,118.790001,117.809998
2004-11-30,0.490910,0.704955,0.369178,0.311918,0.047502,0.161879,118.239998,117.639999,118.000000,117.889999
2004-12-01,0.489303,0.708599,0.366602,0.309167,0.046384,0.162290,119.500000,118.099998,118.160004,119.230003
2004-12-02,0.488644,0.708997,0.368565,0.307793,0.046401,0.160689,119.870003,119.010002,119.099998,119.330002
2004-12-03,0.490370,0.707761,0.364245,0.311976,0.046240,0.162696,120.139999,119.089996,119.309998,119.250000

In [65]:
raw_dataset.to_csv('dataset_daily.csv')

In [66]:
normalized_dataset.to_csv('normalized.csv')