In [1]:
import pandas as pd

In [2]:
chaines = ['AUDUSD','EURUSD','GBPUSD','NZDUSD','USDCAD','USDCHF','USDJPY']
debut = 'DAT_ASCII_'
fin_2018 = '_M1_2018.csv'
fin_01 = '_M1_201901.csv'
fin_02 = '_M1_201902.csv'
fin_03 = '_M1_201903.csv'
raw_dataset = pd.DataFrame()

print('Génération des fichiers CSV sériés raw par symbol, de 2018 à mars 2019')
for chaine in chaines:
    nom_2018 = debut+chaine+fin_2018
    nom_01 =  debut+chaine+fin_01
    nom_02 =  debut+chaine+fin_02
    nom_03 =  debut+chaine+fin_03
    var2018 = pd.read_csv(nom_2018,delimiter=';',keep_date_col=False,header=None)
    var2018.columns = ['Date', 'Open', 'High', 'Low','Close','null']
    var2018['Date'] = pd.to_datetime(var2018['Date'])
    #var2018.reset_index(drop=True)
    var2018.set_index('Date', inplace=True,drop=True)
    var01 = pd.read_csv(nom_01,delimiter=';',keep_date_col=False,header=None)
    var01.columns = ['Date', 'Open', 'High', 'Low','Close','null']
    var01['Date'] = pd.to_datetime(var01['Date'])
    #var01.reset_index(drop=True)
    var01.set_index('Date', inplace=True,drop=True)
    var02 = pd.read_csv(nom_02,delimiter=';',keep_date_col=False,header=None)
    var02.columns = ['Date', 'Open', 'High', 'Low','Close','null']
    var02['Date'] = pd.to_datetime(var02['Date'])
    #var02.reset_index(drop=True)
    var02.set_index('Date', inplace=True,drop=True)
    var03 = pd.read_csv(nom_03,delimiter=';',keep_date_col=False,header=None)
    var03.columns = ['Date', 'Open', 'High', 'Low','Close','null']
    var03['Date'] = pd.to_datetime(var03['Date'])
    #var03.reset_index(drop=True)
    var03.set_index('Date', inplace=True,drop=True)
    var_full = pd.concat([var2018,var01,var02,var03],sort=True)
    var = var_full['Close']
    var.columns = ['Close']
    var.to_csv('raw_data'+chaine+'.csv',sep=';')
    raw_dataset[chaine+' Close'] = var
    print('\nNombre de NaN dans var01 de ',chaine,' : ',var01.isnull().sum().sum())
    print('\nNombre de NaN dans var02 de ',chaine,' : ',var02.isnull().sum().sum())
    print('\nNombre de NaN dans var03 de ',chaine,' : ',var03.isnull().sum().sum())
    print('\nNombre de NaN dans var de ',chaine,' : ',var.isnull().sum().sum())
    print('\nNombre de NaN dans var_full de ',chaine,' : ',var_full.isnull().sum().sum())
    print('\nNombre de NaN dans var2018 de ',chaine,' : ',var2018.isnull().sum().sum())

print('Opération terminée')

Génération des fichiers CSV sériés raw par symbol, de 2018 à mars 2019

/Users/YTsBaCh/Applications/anaconda3/envs/env_zipline/lib/python3.6/site-packages/ipykernel_launcher.py:38: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

Nombre de NaN dans var01 de  AUDUSD  :  0

Nombre de NaN dans var02 de  AUDUSD  :  0

Nombre de NaN dans var03 de  AUDUSD  :  0

Nombre de NaN dans var de  AUDUSD  :  0

Nombre de NaN dans var_full de  AUDUSD  :  0

Nombre de NaN dans var2018 de  AUDUSD  :  0

Nombre de NaN dans var01 de  EURUSD  :  0

Nombre de NaN dans var02 de  EURUSD  :  0

Nombre de NaN dans var03 de  EURUSD  :  0

Nombre de NaN dans var de  EURUSD  :  0

Nombre de NaN dans var_full de  EURUSD  :  0

Nombre de NaN dans var2018 de  EURUSD  :  0

Nombre de NaN dans var01 de  GBPUSD  :  0

Nombre de NaN dans var02 de  GBPUSD  :  0

Nombre de NaN dans var03 de  GBPUSD  :  0

Nombre de NaN dans var de  GBPUSD  :  0

Nombre de NaN dans var_full de  GBPUSD  :  0

Nombre de NaN dans var2018 de  GBPUSD  :  0

Nombre de NaN dans var01 de  NZDUSD  :  0

Nombre de NaN dans var02 de  NZDUSD  :  0

Nombre de NaN dans var03 de  NZDUSD  :  0

Nombre de NaN dans var de  NZDUSD  :  0

Nombre de NaN dans var_full de  NZDUSD  :  0

Nombre de NaN dans var2018 de  NZDUSD  :  0

Nombre de NaN dans var01 de  USDCAD  :  0

Nombre de NaN dans var02 de  USDCAD  :  0

Nombre de NaN dans var03 de  USDCAD  :  0

Nombre de NaN dans var de  USDCAD  :  0

Nombre de NaN dans var_full de  USDCAD  :  0

Nombre de NaN dans var2018 de  USDCAD  :  0

Nombre de NaN dans var01 de  USDCHF  :  0

Nombre de NaN dans var02 de  USDCHF  :  0

Nombre de NaN dans var03 de  USDCHF  :  0

Nombre de NaN dans var de  USDCHF  :  0

Nombre de NaN dans var_full de  USDCHF  :  0

Nombre de NaN dans var2018 de  USDCHF  :  0

Nombre de NaN dans var01 de  USDJPY  :  0

Nombre de NaN dans var02 de  USDJPY  :  0

Nombre de NaN dans var03 de  USDJPY  :  0

Nombre de NaN dans var de  USDJPY  :  0

Nombre de NaN dans var_full de  USDJPY  :  0

Nombre de NaN dans var2018 de  USDJPY  :  0
Opération terminée

In [3]:
for i in range(430000,len(raw_dataset)):
    if raw_dataset.iloc[i:,:].isnull().sum().sum()!=0:
        pass
    else :
        print('Il faut attendre la valeur :',i,'pour ne plus avoir de NaN dans le dataframe')
        break

Il faut attendre la valeur : 451569 pour ne plus avoir de NaN dans le dataframe

In [4]:
print('Initialisation du dataset complet et du CSV sérié raw par symbol, de 2018 à mars 2019\n\n')
print('Il y a ',raw_dataset.isnull().sum().sum(),'valeurs NaN\n')
print('Les Nan sont réparties comme suit :')
print(raw_dataset.isnull().sum())
print('Il faut attendre la valeur 451569, sur ',len(raw_dataset),' pour avoir 0 NaN')
ratio = 15257/len(raw_dataset)*100
print("\nLe ration d'erreurs est de :",ratio,'%')
print ("\nLe maximum du ratio est de ",(5105/len(raw_dataset)*100),'% pour la colonne USDCAD')
print('\nOn remplace donc chaque NaN par la valeur de la minute d\'avant pour éviter de perdre trop de données')

Initialisation du dataset complet et du CSV sérié raw par symbol, de 2018 à mars 2019


Il y a  15675 valeurs NaN

Les Nan sont réparties comme suit :
AUDUSD Close       0
EURUSD Close     832
GBPUSD Close    1175
NZDUSD Close    3252
USDCAD Close    5171
USDCHF Close    3544
USDJPY Close    1701
dtype: int64
Il faut attendre la valeur 451569, sur  452921  pour avoir 0 NaN

Le ration d'erreurs est de : 3.368578626294652 %

Le maximum du ratio est de  1.1271281305128267 % pour la colonne USDCAD

On remplace donc chaque NaN par la valeur de la minute d'avant pour éviter de perdre trop de données

In [5]:
raw_dataset.head()

,AUDUSD Close,EURUSD Close,GBPUSD Close,NZDUSD Close,USDCAD Close,USDCHF Close,USDJPY Close
Date,,,,,,,
2018-01-01 17:00:00,0.78040,1.20100,1.34985,NaN,1.25425,0.97472,112.645
2018-01-01 17:01:00,0.78005,1.20030,NaN,NaN,NaN,NaN,112.616
2018-01-01 17:02:00,0.78038,1.20043,1.35019,0.71027,NaN,0.97429,112.634
2018-01-01 17:04:00,0.78037,1.20048,NaN,NaN,1.25440,0.97475,112.613
2018-01-01 17:05:00,0.77968,1.20048,1.35012,0.71027,1.25441,NaN,112.620

In [6]:
raw_dataset = raw_dataset.ffill().bfill()
raw_dataset.head()

,AUDUSD Close,EURUSD Close,GBPUSD Close,NZDUSD Close,USDCAD Close,USDCHF Close,USDJPY Close
Date,,,,,,,
2018-01-01 17:00:00,0.78040,1.20100,1.34985,0.71027,1.25425,0.97472,112.645
2018-01-01 17:01:00,0.78005,1.20030,1.34985,0.71027,1.25425,0.97472,112.616
2018-01-01 17:02:00,0.78038,1.20043,1.35019,0.71027,1.25425,0.97429,112.634
2018-01-01 17:04:00,0.78037,1.20048,1.35019,0.71027,1.25440,0.97475,112.613
2018-01-01 17:05:00,0.77968,1.20048,1.35012,0.71027,1.25441,0.97475,112.620

In [7]:
raw_dataset.isnull().sum().sum()

0

In [8]:
print('Génération du CSV raw_dataset_solid.csv depuis 2018 jusqu\'à mars 2019')
raw_dataset.to_csv('raw_data_solid.csv',sep=';')

Génération du CSV raw_dataset_solid.csv depuis 2018 jusqu'à mars 2019

In [9]:
print('TOUT EST TERMINE.')

TOUT EST TERMINE.